[2016-01-07 17:04] josericardo opened #2 "Add continuous integration to spidermon"
As the title says.

[2016-01-08 19:26] eliasdorneles opened #3 "Merge development branch"
Is the code in master branch being used somewhere?

If not, I say let's merge the development branch already, to avoid multiple versions being used all around.

[2016-01-08 19:49] #2 closed, assigned to nobody

[2016-01-08 20:44] eliasdorneles opened #5 "Documentation on how to get started using spidermon"
We need some documentation for spidermon, it would be nice to have an explanation of the generic goals, a tutorial and some documentation on how to extend it.

As low-hanging fruits, perhaps we could start with:
- a tutorial for using it with Scrapy
- autodocs generated and published somewhere

I've been using it for an use-case it wasn't it designed for (monitoring script jobs -- not spiders), an

[2016-01-15 15:20] #5 closed, assigned to nobody

[2016-01-26 11:54] josericardo opened #8 "Add support for validation of different item types generated by the same spider"
Currently, validation can only be defined via settings, being applied to all items generated by a given spider.  I'm talking specifically about the `SPIDERMON_VALIDATION_SCHEMAS` and `SPIDERMON_VALIDATION_MODELS` settings.

This leads to many validation errorr for spiders that generate more than one item type.

We need a way to allow the validation to be specified for each item type.

Options that

[2016-01-27 18:14] #3 closed, assigned to nobody

[2016-02-02 12:29] torymur opened #9 "Extend support for a few modules in python expressions"
User case to cover:
Test that job was running more or less than certain amount of time. So in assert expression in monitor's test user tries:
`($stats['finish_time'] - $stats['start_time']) < datetime.datetime.timedelta(0, 7)`

and gets:
`NameError: name 'datetime' is not defined`

Stat's `finish_time` and `start_time` are datetime objects, so it's kind of supposed case to be able to work with the

[2016-02-18 14:05] #8 closed, assigned to nobody

[2016-10-12 13:02] vshlapakov opened #16 "Python 3 support"
Looks like for now the library doesn't support Python 3 ([imports](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/scrapy/pipelines.py#L3), [syntax](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/scrapy/extensions.py#L33)).
Would be great to see it working with both Python 2/3.

[2017-04-28 13:59] kalessin opened #18 "make this repo publicly available"
I have noticed that this repository is accessible only for scrapinghub staff. Is that intentional? I wonder if we can make it public, or even publish on pypi. Some scrapinghub customers which write their own projects may need to make use of it.

[2018-02-21 16:00] #18 closed, assigned to nobody

[2018-03-01 14:27] #16 closed, assigned to nobody

[2018-03-01 14:30] #9 closed, assigned to nobody

[2018-06-07 10:13] baitxo opened #27 "missing entries on setup.py install_requires"
Hey! Is there a reason behind not having all dependencies listed under install_requires?

The package is currently unusable outside SC for local development/testing...

[2018-06-13 15:41] #27 closed, assigned to nobody

[2018-08-15 09:52] HassanQamar07 opened #40 "Spidermon email not sent when the log count is goes beyond 50+ thousand(estimated)"
I see in some jobs, the email does not trigger and spider does not close normally.  In normal jobs, the stats are logged at the end but in this case, they're not. The last lines in logs show spidermon stuck on log request.

https://app.scrapinghub.com/p/193898/112/32/log?latest

[2018-08-20 09:39] #40 closed, assigned to nobody

[2018-09-24 10:24] HassanQamar07 opened #44 "report context defined in settings.py does not have any effect on email reports"
`SPIDERMON_REPORT_CONTEXT` defined in settings.py file does not have any effect on email reports, we need to subclass `SendSESEmail` and add 'context' attribute explicitly.

`SPIDERMON_REPORT_CONTEXT = {
    'report_title': 'ABC Spiders Report' ,
    'show_job_button': True
}`

[2018-10-02 13:22] victor-torres opened #45 "We have to define a license in order to open source the project"
MIT or something like that. We could use [Scrapy's LICENSE file](https://github.com/scrapinghub/scrapy/blob/master/LICENSE) as a reference.

[2018-10-05 18:27] andrewbaxter opened #47 "Option to stop spider on errors"
I think it would be nice to have validation errors treated like other spider errors - increment the error counter, optionally stop the spider with an error condition if over an error count.

I'd primarily like to stop the spider so I made that the title, but having both would be nice.

[2018-10-25 19:08] andrewbaxter opened #50 "Option to make validation errors ERRORs in job"
At the moment validation errors can be added to the items in the _validation key, but there doesn't seem to be any way to make it more obvious that some errors are incorrect.

[2018-10-25 19:24] andrewbaxter opened #51 "Adding new JSON schema format validators"
We're exporting to SQL and having `datetime` objects in the data is the easiest way to send SQL datetimes, but these are rejected by jsonschema.  There's no way to set a validator class or pass extra arguments to the current validator class to override the datetime validator AFAICT.

[2018-11-09 12:05] #45 closed, assigned to nobody

[2018-11-09 12:57] #44 closed, assigned to nobody

[2018-11-27 19:20] raphapassini opened #57 "Publish Spidermon to PyPi"
We need to get the `spidermon` ready to be installed via https://pypi.org/

[2018-11-29 13:25] rennerocha opened #58 "Create documentation of monitor"
- Document `Monitor` and `MonitorSuite` classes

[2018-11-29 13:26] rennerocha opened #59 "Create documentation of actions"
Document:
- E-mail action
- Slack Action
- Job Action
- Report Action
- Custom Actions

[2018-11-29 13:27] rennerocha opened #60 "Create documentation of item validators"
- schematics and JSON schema validators

[2018-11-29 13:35] rennerocha opened #61 "Release documentation in readthedocs"

[2018-11-29 13:39] rennerocha opened #62 "Whole code review to remove private information"
Need to check in the whole codebase if we don't have mentions of our customer, API keys or code that are only of interest of SH and should not be released publicly.

[2018-11-29 13:56] rennerocha opened #64 "Clear git history"
Should we clear the history of this repository? How?

[2018-12-12 14:27] #64 closed, assigned to nobody

[2018-12-17 17:58] #62 closed, assigned to akshayphilar

[2018-12-18 17:36] #60 closed, assigned to rennerocha

[2018-12-21 14:47] #58 closed, assigned to rennerocha

[2019-01-04 13:31] #59 closed

[2019-01-09 17:30] muzaffaryousaf opened #72 "Make basic monitors part of the spidermon."
We have to add basic monitors for almost all the projects and the goal is to make such monitors part of the tool/spidermon itself and upon enabling them, the tool should send notifications automatically when integrated with a project.

- [ ] Basic monitors inside the spidermon.
- [ ] One should be able to add customized monitors in a project in addition to these basic monitors.
- [ ] On should be

[2019-01-10 12:56] raphapassini opened #73 "Update the "Readme.md" to reflect new links and installation instructions"
We should have a link to the complete documentation that we already have and it's publish in readthedocs
and also put some installation notes in the readme.

[2019-01-10 13:02] raphapassini opened #74 "Create a CLI for setup a very basic spidermon monitors and notifications"
Something like:

`
spidermon setup
$ To who should I send the notification email: raphael@scrapinghub.com
$ Do you want to enable Slack Notifications [Y/n]: y
$ Please provide an Slack API key to send notifications: ab213234_cHJscaJRFVN
Thanks for enabling the amazing Spidermon! You're good to go.
`

[2019-01-11 10:33] muzaffaryousaf commented on #72
@rennerocha @raphapassini FYI, I've added list of basic monitors and expectations here.

[2019-01-11 10:57] muzaffaryousaf opened #75 "Integrate spidermon with Sentry"
The goal is to integrate spidermon in such a way that the notifications could be sent to the sentry dashboard which could be viewed, linked and marked with the tickets in order to reduce the duplicate efforts. This will be in addition to integration with slack and email.

[2019-01-11 11:15] rennerocha opened #76 "Infers validator class based on given JSON Schema"
Actually it is using draft-4 version:
https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/validation/jsonschema/validator.py#L27

[2019-01-16 12:57] #73 closed

[2019-01-16 13:04] rennerocha commented on #57
It is published!
https://pypi.org/project/spidermon/

[2019-01-16 13:04] #57 closed

[2019-01-16 13:04] rennerocha commented on #61
First version released:
https://spidermon.readthedocs.io/

[2019-01-16 13:04] #61 closed

[2019-01-16 21:11] rennerocha commented on #76
The actual stable release of `jsonschema` (used by spidermon to validate against the schemas) supports only draft-3 and draft-4:
https://python-jsonschema.readthedocs.io/en/stable/validate/#versioned-validators

Only in the latest version (3.0.0a4.dev71+g6f10ce6 not released yet) the support for draft-6 and draft-7 is included:
https://python-jsonschema.readthedocs.io/en/latest/validate/#versioned

[2019-01-17 08:46] GrooChu commented on #74
@raphapassini  I'm new to the opensource world. Can I pick this issue and provide a pull request?

[2019-01-17 15:02] HassanQamar07 opened #82 "Add SPIDERMON_ENGINE_STOP_MONITORS"
I want to monitor if the file was uploaded to S3 or not. I've subclassed the FeedExporter and add a flag in stats when the file is uploaded. But the issue the `SPIDERMON_SPIDER_CLOSE_MONITOR` runs all the monitors even before the file is uploaded, this is because `FeedExporter` and spidrmon `SPIDERMON_SPIDER_CLOSE_MONITOR` both runs on the spider_close signal.

To monitor this we need to run some

[2019-01-18 12:38] manycoding commented on #76
@rennerocha  What stops you from using jsonschema master branch? We have been using several months, I haven't encountered any issues and I think considering the usual needs for schema validation it should be just fine.

[2019-01-18 12:57] rennerocha commented on #76
For an official release, I'd prefer to rely on a stable version of any other library that we depend on. After reading the code of jsonschema, I believe it will be possible to change it in a way that will work correctly with the master branch and the stable version.

Actually we have the validator defined hard-coded, but it is possible to get it passing the draft number or using the newest as defau

[2019-01-18 15:56] manycoding commented on #76
Yep you can infer the draft from `jsonshcema.validators.validator_for(schema)`
One thing - by default jsonschema returns the latest draft if there's nothing to infer upon, but it will change so you will get an error instead.

[2019-01-23 10:17] muzaffaryousaf commented on #72
Hi @raphapassini Would you be able to take this on ? Thanks.

[2019-01-23 10:36] muzaffaryousaf commented on #72
@raphapassini I'm assigning this to you as we spoke yesterday. Please let me know otherwise. Thanks.

[2019-01-23 12:39] rennerocha opened #84 "Include documents about monitor mixins"
We have different mixins in `spidermon/contrib/monitors/mixins` directory, but no documentation.

[2019-01-23 13:22] victor-torres opened #85 "Get the JSON Schema file from a URL"
Maybe it's interesting to make it possible to download the JSON Schema file from a remote URL.

**Pros**
- In cases when people have a dedicated repository for JSON Schemas, this could avoid having to keep two versions of the same file in two different repositories.
- Some APIs could provide JSON Schema references, their endpoints could be used to live update the Spider requirements.

**Cons**
- S

[2019-01-30 10:55] muzaffaryousaf opened #86 "Document sentry integration"
The purpose of this task is to document the integration between sentry & spidermon. The following things should be  a part of documentation:

1. How to turn on the integration.
2. Possible settings which could be used.
3. Screenshots ???

[2019-01-30 15:23] raphapassini commented on #72
I'll start the implementation today, you should here from me soon :)

[2019-01-31 19:51] victor-torres opened #88 "pip install -r requirements.txt does not install all dependencies required for json schema validation"
The JSON Schema validation is a pretty common use case for Spidermon, but we need to use a custom pip install command to install required dependencies. Sometimes it leads to missing modules during execution time and it could be hard for first-time users.

My suggestion is to unify the production requirements in a single file.

[2019-01-31 19:53] raphapassini commented on #88
I think this is a nice suggestion.
We think that we use more the validation than _not_ use it, right?

[2019-02-04 14:34] muzaffaryousaf commented on #88
@rennerocha @raphapassini I think this is a very good suggestion and we should move towards the unification of these requirements.

[2019-02-07 13:23] heylouiz commented on #82
@HassanQamar07 Can I implement this change?

[2019-02-07 13:58] wRAR opened #89 "Are optional dependencies really optional?"
This is probably related to #88.

It seems to me that if you want to use spidermon with Scrapy you need to use `spidermon.contrib.scrapy.extensions.Spidermon`. That requires at least `jsonschema` (imported via `spidermon.python.factory`) from the optional `validation` feature. On the other hand, the contents of the optional `monitoring` feature look important for any spidermon usage. Are there rea

[2019-02-07 15:29] rennerocha commented on #88
Considering the actual implementation of spidermon, item validation is note a **core** feature (despite the fact that it is widely used), so you can still use spidermon (creating monitors and custom actions) for your spider without including these libraries.

A user can also chose a different library for item validation (different than jsonschema or schematics) and IMHO the user should not be obli

[2019-02-07 15:31] rennerocha commented on #89
@wRAR please see my comment in #88 . IMHO, optional requirements are optional, as the `core` of spidermon functionality still work without them .

[2019-02-07 18:36] rennerocha commented on #76
@manycoding I updated the validator, so it will be a task for `jsonschema` to determine the best validator for the provided schema. I tested with jsonschema 3.0.0b3 and apparently it is working correctly. Could you please take a look at the PR and test the branch?

[2019-02-07 19:14] manycoding commented on #85
I think there are 2 main questions:

1. Where does a JSON Schema belong - is it really a part of the spider code?
2. How to figure out auth questions. I have postponned this one for [gatf](https://github.com/scrapinghub/gatf) with my best by allowing to use any s3 bucket and passing schemas as a dict (at first the library was reading schemas directly from its repo)

So considering these points, ad

[2019-02-07 19:32] victor-torres commented on #88
Even though this optional requirements strategy is documented on the [PEP 508](https://www.python.org/dev/peps/pep-0508/#extras), I don't believe it's the best approach seeking the mainstream usage of this library.

You suggest the addition of docs specifying which requirements are necessary for each part of the software, but I don't believe it's a good solution too. We all understand how useful a

[2019-02-11 13:53] manycoding opened #91 "Black to handle pep8 and all code formating"
I have noticed here and there formatting issues in prs, I suggest looking at https://github.com/ambv/black.

The setup is simple - add few lines of settings to `tox.ini`, autoformat the code with `black ./`, and add a line to CI to check everything is ok.

The main benefit - it allows to focus on code, it brings consistency, integrations with IDEs are good.
The main cons for me - it's a pre-releas

[2019-02-11 13:55] manycoding commented on #91
@rennerocha @raphapassini

[2019-02-11 13:56] rennerocha commented on #91
I like the idea of using something like black to format our code. I have been using it in some projects and it removes friction between developers coding styles.

[2019-02-11 20:25] ejulio commented on #74
@GrooChu are you working on this feature?
In a positive case, I'll update to _in progress_, otherwise I'll work on it.

[2019-02-13 14:57] andrewbaxter commented on #89
FWIW I'm getting an exception since it seems like jsonschema gets imported when using the extension:

[code]

I'm not using the item validation tools in this project, just item count/error count monitors.

[2019-02-13 15:18] wRAR commented on #89
@andrewbaxter exactly, if you want to use the extension you definitely need `validation` and probably `monitoring`.

[2019-02-13 16:44] andrewbaxter opened #94 "Documentation refers to `self.stats`, should be `self.data.stats`"
Copying examples from the documentation raises this error:
[code]

I believe these should be `self.data.stats` as per other documentation.

[2019-02-13 18:25] manycoding commented on #94
#77

[2019-02-13 18:44] rennerocha commented on #94
@andrewbaxter This is fixed in PR #77

[2019-02-13 18:46] #94 closed

[2019-02-13 19:11] #76 closed

[2019-02-13 19:22] ejulio opened #95 "Enhance slack notifications"
Currently the notifications we receive in email are quite simple, without much information.
For example:
[code]

We could add more information there, something like:
[code]

[2019-02-14 14:26] muzaffaryousaf commented on #86
#83 is the PR for documentation.

[2019-02-14 20:37] #86 closed

[2019-02-14 20:37] #75 closed

[2019-02-14 21:31] raphapassini commented on #72
The PR is finished and waiting for review!

[2019-02-15 08:17] muzaffaryousaf commented on #89
@renne I think we should add this requirement as part of spidermon itself since it could be widely used in many projects.

[2019-02-18 14:34] raphapassini commented on #89
Or we can fix the problem by _optionally_ import the ``jsonschema``.
IMHO I can see Spidermon being used _without_ the validation, but doesn't make sense if an error raises if you don't install it

[2019-02-18 14:48] victor-torres commented on #95
I believe we need to decide if we are keeping features like JSON Schema Validation and Slack Notification on the project's core (#88, for example). Depending on what's decided, we may not invest time improving this code, at least not here in this repository.

[2019-02-18 14:58] raphapassini commented on #88
After reading @victor-torres I have to agree with him, it's better to have everything included, this makes things easier for developers and we want them to use the library and monitor the spider right?

[2019-02-19 01:50] rennerocha commented on #88
I still don't agree that these external libraries should be installed in the user environment
when you type `pip install spidermon`.

Even [jsonschema](https://python-jsonschema.readthedocs.io/en/latest/validate/#jsonschema.FormatError) library doesn't include all libraries in the environment if they won't be used. If you want more validation formats you need install optional requirements.

You me

[2019-02-19 01:58] rennerocha commented on #95
@victor-torres
I don't see problems creating integration with different systems (like Slack or Amazon SES E-mail, or Amazon Storage), but this couldn't be considered as the **core** of spidermon .

But, if some user decides to use one of these optional integration, it doesn't hurt if the defaults are more complete, so I believe it would be a good improvement if our default Slack message contains a

[2019-02-19 02:10] rennerocha commented on #88
Related to #89, `jsonschema` is required by [PythonExpressionsMonitor](https://github.com/scrapinghub/spidermon/blob/master/spidermon/python/factory.py#L34), a core feature not documented yet (we need more docs!!!), so now I agree that it needs to be included as default when you install spidermon.

[2019-02-19 02:22] rennerocha commented on #89
`jsonschema` is not an optional dependency as it is required by `PythonExpressionsMonitor`, a core feature.

[2019-02-19 02:23] rennerocha opened #101 "Create tests for PythonExpressionsMonitor"
This feature is not tested:
https://github.com/scrapinghub/spidermon/blob/master/spidermon/python/factory.py#L12

[2019-02-19 02:24] rennerocha commented on #101
#89 happened because the lack of tests of this class.

[2019-02-19 02:38] rennerocha commented on #88
Related to #89, jsonschema is required by PythonExpressionsMonitor, a core feature not documented yet (we need more docs!!!), so now I agree that it needs to be included as default when you install spidermon.

[2019-02-19 02:46] rennerocha opened #102 "Use logging library in spidermon"
Some actions uses `print` for logging:
- https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/actions/email/__init__.py#L77
- https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/actions/slack/__init__.py#L179

Python built-in [logging](https://docs.python.org/3.5/library/logging.html) library should be used instead (like
[here](https://github.com/scrapinghub/sp

[2019-02-19 13:46] rennerocha commented on #89
Required dependencies was updated in https://github.com/scrapinghub/spidermon/pull/100.

[2019-02-19 13:46] #89 closed

[2019-02-19 19:58] raphapassini opened #104 "Create a Release Notes for version 1.9"
Create a release notes, for this we need to keep track about what was merged into master, suggestions here?

[2019-02-19 20:23] ejulio commented on #104
About release notes, I like the idea of using git logs.
But, not sure if it would be feasible..

[2019-02-19 20:33] manycoding commented on #104
I normally read merge logs. For that, I have to put only the necessary information there.
@alexander-matsievsky has a good experience with automating changelogs extraction

[2019-02-20 11:12] rennerocha commented on #104
Probably we will need a better process for the next release.
For this release I created a changelog based on the issues/PRs that exists in the milestone 1.9.0
https://github.com/scrapinghub/spidermon/pull/105

[2019-02-20 11:18] rennerocha commented on #72
Merged

[2019-02-20 11:18] #72 closed

[2019-02-20 11:23] ejulio commented on #104
I would go with @manycoding idea in the future.
We can automate it and makes it easier to maintain in the future.

[2019-02-20 14:52] manycoding commented on #104
@ejulio I meant that I do it manually in one project, to achieve that I keep my log as clean and informative as possible.
But I know that @alexander-matsievsky automated this, so that's another way.

[2019-02-20 14:56] rennerocha opened #106 "Unable to add model-level validation with schematics"
[schematics](https://schematics.readthedocs.io/en/latest/index.html) allows you to Type-level validation (when you want to validate only the value of a specific field) or [Model-level validation](https://schematics.readthedocs.io/en/latest/usage/validation.html#model-level-validation) (if you want to validate one field against the content of other field).

Considering a model and a validation meth

[2019-02-20 19:33] #91 closed

[2019-02-20 20:45] manycoding opened #107 "Follow python end of life https://devguide.python.org/"
I propose to follow [Python dev guidelines](https://devguide.python.org/). I thought it was idea from the start that we actually won't support Python2 officialy in this library.

  _Here you can think of all benefits which you can get by removing Python2 support altogether_

But in the end it's all the same - guidelines there are for certain reasons, and something old eventually will stop working

[2019-02-22 14:53] raphapassini commented on #107
+1 to see this one in the next release.

[2019-02-22 14:55] #106 closed

[2019-02-22 15:02] raphapassini commented on #50
@andrewbaxter can you test this again with the branch master?
I'm pretty sure that the errors are being reported as `log.ERRORS` and thus going to show up in Scrapy Cloud.

[2019-02-25 16:38] rennerocha commented on #88
After https://github.com/scrapinghub/spidermon/pull/100 this is solved.

[2019-02-25 16:38] #88 closed

[2019-02-27 22:14] manycoding commented on #85
I still think it's a good idea to get this feature. I just re-read the cons\pros and

I cannot think of a case when they should be different.

[2019-02-28 02:41] cuducos opened #116 "jsonschema>=3.0.0 compatibility"
It looks like the `jsonschema` 3.0.0 released a few days ago broke something in Spidermon's `contrib/validation/jsonschema/formats.py`:

[code]

Downgrading to `jsonschema` 2.6.0 prevents this error.

[2019-02-28 10:32] rennerocha commented on #116
It will be fixed by https://github.com/scrapinghub/spidermon/pull/112

[2019-02-28 12:25] cuducos commented on #116
Ow… my bad. Sorry for the duplicate issue 🤦‍♂️

[2019-02-28 12:25] #116 closed

[2019-02-28 13:37] ejulio commented on #85
IMHO they must be the same, then we are "automating" the QA on every run.
Then, when it fails we can work on a fix or new schema if required.
If they are different we'll always need to check if the data is the expected even if Spidermon validated it properly.

[2019-02-28 13:42] manycoding commented on #51
@andrewbaxter Could you elaborate?
`"format": "date-time"` is probably what you need.

The JSON schema standard supports `formats` and the library used here requires additional dependencies to make them work - jsonschema[formats], see here https://github.com/Julian/jsonschema/blob/master/docs/validate.rst#validating-formats

And there's an official standard https://json-schema.org/latest/json-sche

[2019-02-28 14:00] raphapassini commented on #85
+1 I would like to see a POC implementation of this.
I also would say that reading from an URL is the way to go, we can't avoid handling authentication by creating a way for users to extend the behavior, for instance we can create a object called `JsonSchemaLoader` and implement the logic there, so if you need something different you can just extend the loader.

We can also create 2 loaders for st

[2019-02-28 17:38] manycoding commented on #85
I am just thinking that you don't actually need to have any auth for generated s3 links since it's impossible to guess the link itself.

[2019-02-28 17:52] ejulio commented on #85
@manycoding, maybe for us it is not necessary, but for other users of the library it is important
:thinking:

[2019-02-28 21:56] manycoding commented on #85
I mean it looks like allowing to download schemas from url is a minimal work, and we can add auth later.

[2019-03-07 16:40] leovictorsr commented on #102
@ejulio hello Julio, we spoke via email, I'll work on this issue as my first for Spidermon.

[2019-03-07 17:15] ejulio commented on #102
hey @leovictorsr.
That's awesome to hear!
If you need anything, just ping me I'll try to help you :smile:

[2019-03-08 15:06] raphapassini commented on #85
https://github.com/scrapinghub/spidermon/pull/119

[2019-03-08 15:14] gcmurillo commented on #74
Hi, my name is Geancarlo Murillo. I'm want to contibute with Spidermon project in GSoC 2019, I looked [here](http://gsoc2019.scrapinghub.com/ideas/) for ideas. I found the `Create a CLI to setup spidermon on projects` idea for this year and I want to work with it. There is some issue or use cases to start and can write a proposal ? Thanks ;)

[2019-03-11 16:19] rennerocha commented on #82
Merged.

[2019-03-11 16:19] #82 closed

[2019-03-11 17:58] riya-17 commented on #74
Hi @ejulio , I would like to work on this issue for GSOC2019, can you guide me about how can I start with this issue?

[2019-03-11 18:20] ejulio commented on #74
hey @riya-17 and @gcmurillo .
@gcmurillo , sorry for the late response.

Both of you, and @leovictorsr had shown interest in working with this issue.

And I talking to @rennerocha on what we can expect here and also with other projects we think would be possible to work with Spidermon.
We should get back to you with ideas about this project in the following days.

Thank you for your interest in wo

[2019-03-11 18:28] riya-17 commented on #74
@ejulio Thank you.. Will be waiting for the ideas about this project so that we can understand and start contributing soon :)

[2019-03-11 18:31] ejulio commented on #74
In the meantime, @riya-17 , @gcmurillo and @leovictorsr, we invite to take a look into Spidermon current issues see if there is something you can contribute.
This is a good to get you started with the project and code base.

[2019-03-11 18:35] riya-17 commented on #74
@ejulio Ok, I will have a go through issues and code base and try contributing to them.

[2019-03-11 20:04] gcmurillo commented on #74
@ejulio Thanks for response. Hope to can contribute with.

[2019-03-11 23:39] leovictorsr commented on #84
Hey @rennerocha , I am interested to work on this issue.

[2019-03-14 12:05] ejulio opened #122 "Create a base monitor to compare with previous crawls"
Often, we compare the current crawling result with a previous one.
The idea here is to create some kind of base monitor that would make it a bit easier.
Basically, we need:
* Some sort of storage provider (we can use `python-scrapinghub` by default, but we need to make extensible for any kind of storage)
* A base monitor that would load last crawl data, an entry point to compare with the current o

[2019-03-14 14:04] matiskay opened #124 "What is the difference between render_text_template and render_template?"
Hi,

I would like to know what is the intention of `render_text_template` and `render_template` methods in `/contrib/actions/templates.py`.

https://github.com/scrapinghub/spidermon/blob/47b052b86b2ad1197f87eb37f4ce21a7c2e7516b/spidermon/contrib/actions/templates.py#L37-L43

both are the same.

[2019-03-14 14:06] matiskay opened #125 "Add default template to email actions"
It would be great to use `reports/email/monitors/result.jinja` as the default template for `SPIDERMON_BODY_HTML_TEMPLATE`.

[2019-03-14 14:10] matiskay opened #126 "How to set a local/custom template in Email actions"
Hi,

I would like to know if there is way to pass  a local jinja template to the actions. I'm setting a local path and absolute path in `SPIDERMON_BODY_HTML_TEMPLATE`  but  I'm getting a `TemplateNotFound` error.

I tried `SPIDERMON_BODY_HTML_TEMPLATE = 'reports/email/monitors/result.jinja'` and it worked but I would like to add my own template.

It looks like jinja2 loader only looks at `/spiderm

[2019-03-14 18:54] riya-17 commented on #74
@ejulio is there any contribution guide?

[2019-03-14 19:43] andrewbaxter opened #128 "Action to restart spider in Scrapy Cloud"
Discussed in chat a bit - the idea is that if a job meets some conditions (monitor detects certain website responses, the job stalls, etc) this action could restart the job.

Ideas for how to count restarts to prevent infinite restarting included:

- job metadata
- spider parameter

[2019-03-15 10:15] ejulio commented on #74
@riya-17 we are reviewing/merging one here https://github.com/scrapinghub/spidermon/pull/127
Feel free to give your thoughts as well

[2019-03-18 12:41] ejulio commented on #128
Should we create this coupling of Spidermon and Scrapy cloud?

[2019-03-18 13:38] andrewbaxter commented on #128
@rennerocha said he didn't see a problem so I made this ticket, but I may have misread his response.  I have no strong opinions either way.  Since it's a common use case at the moment I think it would be more convenient but I can understand wanting to limit the amount of dependencies.

[2019-03-18 23:38] rennerocha commented on #74
It is merged and available [here](https://github.com/scrapinghub/spidermon/blob/master/CONTRIBUTING.rst)

[2019-03-18 23:48] rennerocha commented on #74
This CLI should be used by anyone that want to configure Spidermon quickly. I suggest the use of [click](https://click.palletsprojects.com/en/7.x/) to create the command.

Ask the user which built-in monitors they want to enable (and request the necessary settings):
- https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/scrapy/monitors.py

Ask the user which built-in actions they

[2019-03-19 00:33] gcmurillo commented on #74
Hi, @rennerocha, I'm looking for work in that issue in GSoC 2019 program...I think thats the beginning for a more complete CLI, can I work on that as a first step ?

[2019-03-19 11:57] rennerocha opened #130 "Include support for Cerberus as optional item validation library"
Actually Spidermon allows the user to choose between jsonschema or schematics as item validation library. We would like to include [cerberus](https://github.com/pyeve/cerberus) as a new choice to the user.

[2019-03-20 20:43] rennerocha opened #131 "Improve message of validation error in JSON Schema"
When we have a schema with `additionalProperties` set to `False`, the error message provided by `JSONSchemaValidator` is not useful as it doesn't show which are the unexpected fields found.

[code]

It would be better if we include the unexpected fields:
[code]

[2019-03-20 21:32] rennerocha commented on #131
Apparently this problem was faced before:
https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/validation/translator.py#L17

The solution is not related to JSONSchemaValidator, but improving the bahaviour of MessageTranslator class.

[2019-03-21 16:26] gcmurillo commented on #84
Hi @rennerocha, I'm currently working in this issue, where I can found some context for that objects ?

[2019-03-21 20:03] vipulgupta2048 commented on #84
Hello @gcmurillo @rennerocha, thank you for taking up this issue. At a first look, you can find the code here https://github.com/scrapinghub/spidermon/tree/master/spidermon/contrib/monitors/mixins. Thinking out loud maybe running the code or experimenting can help develop a context of what Mixins are. I am new to ScrapingHub, looking forward to contribute with you all.

[2019-03-22 12:02] kmike commented on #104
hey! my2c: I think it'd be unreasonable to ask third-party contributions to use detailed conventions like https://www.conventionalcommits.org/en/v1.0.0-beta.3/ for commit names :)
@ivanprado share a nice link recently - https://keepachangelog.com/en/1.0.0/

[2019-03-22 12:13] alexander-matsievsky commented on #104
@kmike Actually that's not a problem, Mikhail.

[2019-03-22 12:22] alexander-matsievsky commented on #104
@kmike Regarding https://keepachangelog.com/en/1.0.0/ the output of CC https://github.com/yargs/yargs/blob/master/CHANGELOG.md respects all the Guiding Principles.

[2019-03-22 19:16] vipulgupta2048 commented on #95
I earlier mentioned the same on the mail. @rennerocha is right. We should focus on improving our default platforms such as Slack and Email actions. While the work on other platforms can also be done as I suggested. Improving defaults will help in the long run as users start to take up spidermon in their projects.

I can take up this feature request @ejulio, seems like a great place to start. Do le

[2019-03-22 19:29] ejulio commented on #95
One I have in mind right now is when it fails the item validation.
It just says "Validation Error/No field error", for example.
It would be nice to mention what errors did occur in the message.

[2019-03-23 11:39] vipulgupta2048 commented on #95
Thanks, @ejulio Gotcha, let me set up the test environment. I will let you know of any follow-up questions that I have regarding the issue.

[2019-03-24 13:02] JaydeepGo commented on #74
Hi,
I am Jaydeep Godara and willing to work on this issue as part of GSoC 2019.
So whether I directly work on this issue according to above guidelines or is there some qualification task to do first.

[2019-03-25 12:09] ejulio commented on #74
hey @JaydeepGo .
Nice that you are interested in working with this issue.
First, you need to submit a proposal on how you plan to work with this issue and we'll chose among applications.

[2019-03-27 00:38] #102 closed

[2019-03-27 01:37] vipulgupta2048 commented on #95
@ejulio I have created my own spider for Slack notifications as specified in the documentation and digging further to refer to the tutorial given here `examples/tutorial`. I have also read the extensive Slack documentation as well for making bots to see how the workflow is and also its limitations. Now, when I start my spider, it runs without any errors but there aren't any notifications on the Sl

[2019-03-28 04:57] leovictorsr commented on #130
I can help with this issue :)
I intend to submit a proposal for GSoC 2019 to this issue.

[2019-03-29 14:16] raphapassini commented on #124
@matiskay this could be better documented. It's used to set the `MimeType` of the content in the email

[code]

[2019-03-29 14:16] killdary commented on #130
Hi @rennerocha , I this that issue é interesting, could you give more details?
I would like to create a proposal for GSoC 2019 in this issue.

[2019-03-29 14:21] raphapassini commented on #104
@rennerocha is working to both implement this and update the contribute guide.

[2019-03-29 14:21] #104 closed

[2019-03-30 14:53] rennerocha opened #134 "Document periodic monitors"
Document and create examples (in examples/tutorial spider) of the use of periodic monitors:
https://spidermon.readthedocs.io/en/latest/settings.html#spidermon-periodic-monitors

[2019-03-30 14:56] rennerocha opened #135 "Document use of custom templates"
Related to #126 , we need a better documentation to explain how to define and use custom templates for e-mails, reports, etc.

[This action](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/actions/templates.py) contains part of the code that handles it.

Include examples in the tutorial would be nice as well.

[2019-03-30 18:59] vipulgupta2048 commented on #135
Yes, thank you for following up on that. If no one takes this up, I would be more than happy to contribute an example to the docs. Since I am working on Slack action as well, it would be great to learn more about other actions.

[2019-03-30 19:00] vipulgupta2048 commented on #95
@rennerocha @ejulio Any comments? I have also mailed you of the approach I am using.

[2019-03-31 10:28] vipulgupta2048 commented on #125
I would like to take this up. I think this could be the right place to have this in the file https://github.com/scrapinghub/spidermon/blob/bf51f3381ac01dc7b85032f34c3686a94a5c9b46/spidermon/contrib/actions/email/__init__.py#L84

`"body_text_template": crawler.settings.get("SPIDERMON_BODY_TEXT_TEMPLATE") or `Path/to/result.jinja` ,

In reference to:
https://github.com/scrapinghub/spidermon/blob/mas

[2019-04-01 15:42] rennerocha commented on #95
@vipulgupta2048
The only documentation to configure Slack notifications is available here:
https://spidermon.readthedocs.io/en/latest/actions.html#slack-action
Improvements on the documentation are always welcome!

You are right on the place everything is located (`spidermon/contrib/actions/slack`). Probably for this issue, we need to update the jinja templates and maybe change the context (`get_t

[2019-04-02 14:36] ejulio commented on #95
@vipulgupta2048
Sorry for the late response :disappointed:
Regarding the data to be shown, you'll notice that everything is available in `crawler.stats`.
About validation errors, they are added to items https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/scrapy/pipelines.py#L144

But, you'll find the same info in `crawler.stats` as something like `spidermon/validation/fields/err

[2019-04-02 15:22] ejulio commented on #122
I'll put some effort to move this issue :)
Here is what @rennerocha , @raphapassini and I discussed about the desired behavior to be added.

We'll provide two storage backends by default:

* `python-scrapinghub` to use past jobs stats in scrapy cloud.
* `local storae` to save the data to a /temp folder locally and then the user can persist it to wherever he wants
* In future version we can add sup

[2019-04-02 23:50] leovictorsr commented on #101
@rennerocha I started to work on this issue and I have a simple question.
As a factory of python expression monitors, the tests for this feature should be under the [test_monitors ](https://github.com/scrapinghub/spidermon/blob/master/tests/test_monitors.py) class, or it would be good to have it in a different class for clarity (as test_monitors tests refer to built-in scrapy monitors).

[2019-04-05 03:07] Gallaecio commented on #50
@andrewbaxter @raphapassini @rennerocha I also believe that is the case with the latest version of spidermon. Does that mean #50 here and #47 can be closed?

[2019-04-05 03:22] Gallaecio commented on #107
I think we should try to support Python versions until their end of life. Which means that the next version can drop support for 3.4 (end of life reached on 2019-03-19), but that we should try and support 2.7 until 2020-01-01.

[2019-04-05 03:25] Gallaecio commented on #51
@andrewbaxter Should we close this then?

[2019-04-05 11:10] andrewbaxter opened #139 "I had difficulty figuring out how to use jsonschema"
Following https://spidermon.readthedocs.io/en/latest/item-validation.html#with-json-schema I set up ITEM_PIPELINES then jumped down to the jsonschema section, but there are no settings listed there for how to use jsonschema.  After that I scanned the rest of the page and set SPIDERMON_VALIDATION_SCHEMAS since it seemed relevant.

The jsonschema section links to https://spidermon.readthedocs.io/en/

[2019-04-05 11:12] andrewbaxter opened #140 "`schematics` required but not installed by default"
I installed with `pip install spidermon`, got 1.9.0.

So I rechecked the installation docs just in case, but trying to use jsonschema validation I get:

[code]

Installing `schematics` fixed the issue.

It's possible I have my project misconfigured (#139).  My settings look like this:
[code]

[2019-04-05 11:20] andrewbaxter commented on #50
Yep, this looks good to me!  Thanks!

[2019-04-05 11:20] andrewbaxter commented on #50
I guess I'll go ahead and close it.

[2019-04-05 11:22] Gallaecio commented on #47
Closing as per https://github.com/scrapinghub/spidermon/issues/50#issuecomment-480240128

[2019-04-05 11:29] andrewbaxter commented on #50
Sorry @Gallaecio :( I was looking at the wrong logs...

Here's what my logs look like when I get a validation error currently:
[code]

My settings are:
[code]

I also tried without ADD_ERRORS_TO_ITEMS, but in that case I get neither an ERROR nor a warning... in fact, it's not clear what the validation does here other than increase a job stat.

[2019-04-05 11:30] andrewbaxter commented on #47
Sorry @Gallaecio :sweat: I rushed and accidentally closed #50 - alright to reopen this?

[2019-04-05 12:01] andrewbaxter commented on #51
Sorry for the delay - @manycoding and thanks for pinging me @Gallaecio .

I tried "format": "date-time" and it doesn't seem to do anything, ex:
Schema:
[code]

Shows:
[code]
The first just to show that validation is happening.  TBH I'm not sure I did that correctly, but if this worked I think that would be very close to what I want.

To clarify on this though, even if Spidermon supports the builti

[2019-04-05 12:08] rendaw commented on #51
Maybe `schematics` should be recommended if you have custom types?  I haven't tried it out though and I felt it was easier to get tight schemas with jsonschema than say marshmallow which I've used before.

[2019-04-05 17:47] manycoding commented on #51
@andrewbaxter
Have you checked that `strict-rfc3339` is installed?

I see that we use old format class https://github.com/scrapinghub/spidermon/blob/e4a5f9f6a97a54c4adefa3c5e2844cc6c96bd7c2/spidermon/contrib/validation/jsonschema/formats.py#L22 but I think it still works in 3.1
https://python-jsonschema.readthedocs.io/en/v2.6.0/validate/

I think it's not possible since you have to modify spidermo

[2019-04-05 18:04] manycoding commented on #107
@Gallaecio And the reasons for that?
Support means we ensure that it works on particular versions

I see only the downsides - providing a good excuse to continue to use outdated tools for users.

[2019-04-05 19:08] vipulgupta2048 opened #141 "Improve documentation regarding tokens for actions"
First Issue :hatching_chick:

Actions for Spidermon can use a little more descriptive documentation regarding tokens, settings and key-value pairs essential for working of almost all actions and developers to implement the same in their spiders.

I am currently working on adding more to the Slack actions.
Would love to have someone collaborate with me on the same.
Will continue to update this issu

[2019-04-06 01:18] vipulgupta2048 commented on #140
Thanks, @andrewbaxter, for bringing the issue to light.
I am trying to debug your issue by reproducing the same. Followed the following steps.
- Created scrapy new project and schema.json. Added reference to schema.json in the settings.
- Made a venv on top of it, installed Spidermon with no errors. Log below.
[code]
Am I doing right? Any other steps that you took?

[2019-04-06 02:58] vipulgupta2048 commented on #128
This could work out well but what exactly is the use case here?
Something like restarting after a particular amount of time in specific circumstances?

[2019-04-06 03:55] vipulgupta2048 commented on #107
I am also in favor of porting and follow the Python guidelines to not support Python2 in the next release. The experience that I have from my time at Sugar Labs in regards to porting and migration to Python3 is quite rocky. The process takes time, planning, and a lot of little fixes to be done both in code and documentation, I am not exactly sure of how much code/packages of Spidermon are in Pytho

[2019-04-08 15:21] andrewbaxter commented on #128
I'm not sure there's a specific use case, but this comes up every once in a while.  Sometimes jobs get stuck for some reason and restarting them gets them going again, or the website upstream starts having issues which corrupt the data and it's not worth the effort of trying to recover.

[2019-04-08 15:23] andrewbaxter commented on #140
The output you posted is expected I think - the issue is that `schematics` is not installed but Spidermon imports it or otherwise relies on it.

[2019-04-08 19:47] vipulgupta2048 commented on #140
Ahh ... I see the point you are making. On close observation, `schematics` is not getting installed with `pip install spidermon`

**Steps that I followed**
- Made a new directory, new venv, did a `pip install spidermon`
- Output of `pip freeze` is as follows

[code]

Let me dig more into this, there surely would be a reason why Spidermon doesn't install all the packages that are needed from the ge

[2019-04-08 19:58] vipulgupta2048 commented on #140
Found it, #89 and #88 have discussion threads where the same discussion rose on json-schema. I feel both @rennerocha and @victor-torres had good points to say. But, there is a limit to what the expression `Comes with Batteries Included` mean and in case of Spidermon, a line should be drawn when packages are considered. I recommend installing whichever package you require as per the feature you wan

[2019-04-08 20:53] manycoding commented on #51
To have `format` working, you need to install `spidermon[validation]` https://github.com/scrapinghub/spidermon/blob/master/setup.py#L33.

[2019-04-08 23:51] ejulio commented on #140
As it looks to me, it follows the discussions pointed by @vipulgupta2048.
Validation is not included by default in spidermon. If you need item validation, then `pip install spidermon[validation]` is the way to go.
The error is, probably, being raised, because the `ItemValidation` pipeline was enabled but the required dependencies weren't installed.
If this behavior persist when disabling the pipel

[2019-04-09 06:12] andrewbaxter commented on #140
I agree with all the points here - I think what I'd like to highlight is:

In my case I do not plan to use it, and it's not documented that `schematics` is required if you want to use jsonschema.

This _sounds_ like the proper solution, but https://spidermon.readthedocs.io/en/latest/item-validation.html doesn't mention `spidermon[validation]` - I would assert that people who decide to add validati

[2019-04-09 06:19] andrewbaxter commented on #51
Oh awesome, thanks!  I'll try it out.  That sounds like my issue with format.

I'd like to keep this open though as a feature request for support validating non-stringified classes.

[2019-04-09 07:16] vipulgupta2048 commented on #74
Hello everyone,
I forgot to state my intention to work on the Spidermon CLI idea here, all the while contributing for the same.

I have finalized my ideas into a proposal, made out of a lot of research, hours and code. I would love if all the maintainers, mentors, and community members could review the same through the Google Summer of Code dashboard, and propose any and all suggestions, comments,

[2019-04-09 12:32] HassanQamar07 opened #144 "Validation monitor only raises error for first invalid field at a time"
The validation monitor `check_missing_required_fields`, `check_missing_required_fields_percent`, `check_fields_errors` and `check_fields_errors_percent` monitors only raises error for the first effected field because the related methods `_check_missing_required_count`, `_check_missing_required_percent`, `_check_field_errors` and `_check_field_errors_percent` is called in loop for each field and it

[2019-04-10 08:13] vipulgupta2048 opened #146 "Spidermon Command Line Interface: Origins and Road-map 🐣"
Hello folks :hatching_chick:,

![Hello](https://media.giphy.com/media/dzaUX7CAG0Ihi/giphy.gif)

I was thinking of creating this issue for a while now in reference to #74. This issue contains a brief summary of the plans, features, and build methods for the Spidermon CLI from @vipulgupta2048 (Hello!) prepared through great help from @ejulio @raphapassini @rennerocha @cathalgarvey @stav @manycoding

[2019-04-10 08:14] vipulgupta2048 commented on #146
For starters, here's the feature map.
![24dd00d05ad811e9817163bfee143b7e map](https://user-images.githubusercontent.com/22801822/55861207-861edb00-5b93-11e9-8ec2-46df223dcf98.jpg)

[Click this link for a better, closer look.](https://atlas.mindmup.com/2019/04/b8c753505ad711e9904a63e5aaa82b2a/cli2048/index.html)

Navigating the feature map:
**Red** - Root node, contains keyword which is “spidermon”

[2019-04-10 08:14] vipulgupta2048 commented on #146
Regarding implementation, we have several great choices as well.

Alternative ways to build CLI tools from I research:
- [Argparse](https://docs.python.org/3/library/argparse.html) (Used in Scrapy CLI, quite powerful magic behind parsing)  (Choose :+1:)
- [Click](https://click.palletsprojects.com/en/7.x/) (Decorator styled options makes code, cleaner, and easier to read)  (Choose :heart:)
- Docopt

[2019-04-10 10:40] muzaffaryousaf commented on #144
@wRAR Please see the description of this issue.

[2019-04-10 20:31] #134 closed

[2019-04-11 11:09] Gallaecio commented on #107
Where in https://devguide.python.org/ does it recommend not to support Python 2?

[2019-04-11 15:35] manycoding commented on #107
@Gallaecio I think there are plenty of information about that, like here https://wiki.python.org/moin/Python2orPython3

[2019-04-11 15:38] manycoding commented on #107
@Gallaecio I found a good one https://python3statement.org/

[2019-04-11 16:04] Gallaecio commented on #107
They only recommend Python 3 when you have to choose between Python 2 and Python 3. That is, they recommend Python 3 for new non-library projects. Which makes perfect sense, but I don’t think that applies to Spidermon, as a library to be used from existing projects, some of which may still use Python 2.

In fact, the article has [a section on how to support both versions](https://wiki.python.org/m

[2019-04-11 16:34] rennerocha commented on #107
I agree with @Gallaecio . We still have a large code base using Python 2.7 that would be benefited with new features introduced in Spidermon. Given the open issues we have, I don't see any feature in the next 9 months that will be punished if we code it maintaining Python 2.7 support.

I am ok of dropping Python 3.4 support in the next release as it already reached its end-of-life.

[2019-04-11 17:33] manycoding commented on #107
Ok, so we all agree upon following official end of life and drop support? Unless somebody pays us.

[2019-04-19 12:29] wRAR opened #151 "Per-field required percentage checking"
Right now Spidermon field percentage validation works in this manner:

- you set some of your fields as required in the schema
- the validation code counts all missing required fields in all items, by catching schema validation errors
- the error count is divided by the item count

The result is not very useful as it's not clear what threshold to set because all missing fields in all items are com

[2019-04-22 10:04] muzaffaryousaf commented on #151
@wRAR Can we change the existing methods and mechanism in such way that if additional/optional fields are provided then we do validation in the suggested way rather than having duplicated code with minor differences ?

[2019-04-22 16:33] ejulio commented on #151
The idea looks good. My thoughts are:

* Can't we use the stats already provided by `ItemValidationPipeline`? It stores missing fields as _spidermon/validation/fields/errors/missing_required_field/field_name_
* The thresholds should be settings, so that we can set them in settings.py or thought `custom_settings`.
* Probably, they should be `dict`s or a number (default for all fields)
* Maybe, we'l

[2019-04-22 22:04] manycoding commented on #151
Assuming by schema you mean JSON schema, I would avoid having anything extra there apart from JSON schema stantard. The reason is that we already have several libraries with custom keywords and it already creates some misunderstandings.

[2019-04-23 11:36] wRAR commented on #151
@ejulio `missing_required_field` stats are provided only for fields marked as required in the schema, and I don't like the idea of marking all or most fields as required, especially ones which we know are present on 20% of items. In my opinion only really required fields should be marked as such and should be expected to be present in all items, even though the current code allows for some toleran

[2019-04-23 11:38] ejulio commented on #151
@wRAR, makes sense.
I thought it was related to required items, not optional ones. Sorry!

[2019-04-23 11:43] wRAR commented on #151
Yup. To clarify: in an established project with periodic recrawls you usually know expected percentages for many optional field and may want to be notified when it drops. I also think that making sure all fields have non-zero percentage can be useful, as zero percentage most likely means the website has changed, unless the data is very rare.

[2019-04-23 15:18] ejulio opened #153 "Create a default setting for SPIDERMON_UNWANTED_HTTP_CODES"
Say that I want to increase the default threshold for `SPIDERMON_UNWANTED_HTTP_CODES`.

Currently, I need to copy/paste
[code]

1. Maybe we can create a base setting, like https://github.com/scrapy/scrapy/blob/master/scrapy/settings/default_settings.py#L93.
This way, I can iterate over this dict instead of copy/pasting the error codes.

2. Maybe we can create a new setting for the default threshol

[2019-04-29 13:36] wRAR commented on #151
We've decided to try this approach:

- as a first step the current code will be changed to check missing field percentage per field, this can already be done using the existing data from validation; this will work only for fields marked as required in the schema; this changes the existing code behavior but I don't think that code is useful in the current shape, as explained at the beginning of the

[2019-05-02 13:19] rosheen33 commented on #153
Under Progress:
https://github.com/scrapinghub/spidermon/compare/default_threshold?expand=1

[2019-05-03 06:52] rosheen33 commented on #153
PR For Review:
https://github.com/scrapinghub/spidermon/pull/156

[2019-05-10 15:21] rennerocha commented on #126
Try creating a custom action and include the path for your template inside `template_paths` [class attribute](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/actions/templates.py#L27). This should solve your problem for now, but I believe it would be a good idea to add a new setting to allow us to define a list of locations that we want the templates to be searched against.

[2019-05-10 20:03] rennerocha opened #158 "Spidermon doesn't work with slackclient version 2.x"
Action to send [Slack notification](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/actions/slack/__init__.py#L5) doesn't work with [slackclient](https://pypi.org/project/slackclient/) version 2.x .

The provided a [guide](https://github.com/slackapi/python-slackclient#migrating-from-v1) for migration (that only works with Python 3.6 or higher).

[2019-05-14 06:24] vionemc opened #160 "Can Spidermon monitor on database instead of scraped data"
Is it solely to monitor data and pattern after scraping, or can we monitor the database condition?

[2019-05-14 07:59] Gallaecio commented on #160
I think it would be great to have a solution to analyze the data generated by a spider after it has been generated, but I’m not sure this is within the scope of Spidermon.

[2019-05-14 17:27] manycoding opened #161 "NAN consistency in JSON schema, pandas and numpy"
Coming from here https://github.com/scrapinghub/arche/issues/83

I would like to treat missing values consistent, but I would also love to keep json schemas work and keep `spidermon` and `arche` compatible.
By inconsistency I mean that if some field's value is missing, one might discard the field:
`[{"availability": 1, "_key": "0"}, {"_key": "1"}}]`
Or make it `None`
`[{"availability": 1, "_key":

[2019-05-14 17:39] raphapassini commented on #161
I think we can easily accomplish this by adding a `Pipeline` to Spidermon, such Pipeline can be automatically enabled when someone enable the `ItemValidationPipeline`

[2019-05-14 17:57] rennerocha commented on #161
I have the tendency to be contrary to Spidermon changing the contents of a returned item. If the spider returned the item without content, I don't think it is Spidermon's job to include it back with None. It may be something desired by the spider developer.

[2019-05-14 18:01] victor-torres commented on #161
Isn't it too hardcore? Also, those projects (scrapy, spidermon, arche) are meant to be used by other people with different requirements and use cases.

This could hide some edge cases when the spider is not returning the field.

I believe this is a code smell. The way arche handles data internally is leaking across multiple repositories. It should be transparent.

[2019-05-14 18:07] manycoding commented on #161
Promote means encourage. There's also a choice. But I believe we make this NAN choice in most cases, so we can affect it to be more consistent.
If we cannot (the requirements are very specific) - that's ok too.

I don't want bad practices either, and my idea about converting under the hood starts looking like one :) But there're no tricks in `Arche` at the moment, it's transparent (at least after

[2019-05-14 19:29] #158 closed

[2019-05-24 14:25] rennerocha commented on #122
This was done in https://github.com/scrapinghub/spidermon/pull/137
Now you can enable a custom StatsCollector that will store the previous stats from your spider execution, allowing you to compare it in your own monitor.

[2019-05-24 14:25] #122 closed

[2019-05-28 11:28] Gallaecio commented on #85
Should we close this issue, or leave it open for an S3 implementation?

[2019-05-28 13:25] ejulio commented on #85
@Gallaecio , I think we can close it since the PR above was merged

[2019-05-28 15:44] #85 closed

[2019-05-29 15:05] manycoding commented on #161
I am closing this since it's more about internal coding practice.

[2019-05-29 15:05] #161 closed

[2019-05-31 15:28] manycoding opened #166 "Replace autodoc with autoapi"
https://github.com/rtfd/sphinx-autoapi
1. doesn’t run the code, it just parses the files, thus removes any need from installing the package and solves dependencies overhead.
2. doesn’t require you to execute the extension each time code is updated
3. The setup is very simple.

[2019-05-31 15:46] manycoding commented on #166
It turns out the use case is to include code by manually adding such directives https://github.com/scrapinghub/spidermon/pull/165/files#diff-4786b3bb718002eab0f43f719542eaa8R139, and not creating docs for the source code.
I am not sure if `autoapi` can be applicable in this case.

[2019-06-05 00:25] manycoding commented on #160
@vionemc Do you have a particular example? Do you mean monitor the scraped data being exported to a database?

[2019-06-05 00:29] manycoding commented on #131
Fixed in #132

[2019-06-05 00:29] #131 closed

[2019-06-05 00:33] manycoding opened #168 "Support jsonschema CustomValidator"
As reported in https://github.com/scrapinghub/spidermon/issues/51#issuecomment-480250235 (I cp message here, this one is too long)

It's possible to support other non natively jsonifiable types or force specific Python types with jsonschema with code like:
[code]

[2019-06-05 00:34] manycoding commented on #51
@andrewbaxter I created #168 , but the original issue with datetime I believe is closed.

[2019-06-05 00:34] #51 closed

[2019-06-05 11:00] rennerocha opened #169 "Compile docs in CI to be warned about errors"
Related to this [discussion](https://github.com/scrapinghub/spidermon/pull/165#discussion_r290412314).

Include docs compiling in CI so we make sure that the docs are build correctly.

[2019-06-06 19:32] stav commented on #146
Nice work @vipulgupta2048

_Click_ is easy to use because of the nice decorators but if you are going to implement sub-commands then I recommend using [Cliff](https://docs.openstack.org/cliff/latest/user/introduction.html)

    The cliff framework is meant to be used to create multi-level
    commands such as subversion and git, where the main program
    handles some basic argument parsing and th

[2019-06-06 20:36] rennerocha commented on #126
When trying to [load a template](https://github.com/scrapinghub/spidermon/blob/master/spidermon/templates.py#L74) that is an absolute path, Jinja2 loader didn't look at the right place, but instead it concatenates the provided absolute path to the paths loaded in the `Environment`.

At this moment you can not use absolute paths for Spidermon's custom templates. You need to create a custom action i

[2019-06-06 20:40] rennerocha commented on #126
Considering that my template is located in `/absolute/location/of/my/template/template_name.jinja`

[code]

and add to `settings.py`:

[code]

[2019-06-10 13:16] rosheen33 commented on #125
#https://github.com/scrapinghub/spidermon/pull/171

[2019-06-11 17:55] #153 closed

[2019-06-12 11:37] andrewbaxter opened #175 "Unclear jsonschema error about unknown fields"
If you have `"additionalProperties": true` in your jsonschema and validation detects an unknown field you get this message in `_validation`:
[code]
If you have a lot of fields and mistyped one it can make it very difficult tracking down which field is wrong.

[2019-06-13 13:07] raphapassini commented on #47
I think this is a very good candidate for the next release.
We can add a new built-in monitor to close the spider when a number of errors happen.

I would like to suggest a new settings:
A `SPIDERMON_CLOSESPIDER_BY_STATS` where the key is a stats key and the value is the maximum number of errors for that given error for example:

[code]

We can based our `close_spider `method on the one from the b

[2019-06-13 13:42] rennerocha commented on #47
Maybe expressions monitors can be used to achieve this, and we can use the pattern described in  [periodic monitors documentation](https://spidermon.readthedocs.io/en/latest/monitors.html#periodic-monitors). I am not yet quite sure that a built-in monitor is the best solution, as we may want to close the spider based on different assertions.

[2019-06-14 07:39] rosheen33 opened #179 "Add Documentation for EXPRESSION MONITOR"
Fill in the missing docs for the following settings:

[code]

https://spidermon.readthedocs.io/en/latest/settings.html?highlight=SPIDERMON_SPIDER_OPEN_EXPRESSION_MONITORS

[2019-06-17 12:24] raphapassini commented on #179
This PR will improve the documentation https://github.com/scrapinghub/spidermon/pull/178

[2019-06-19 10:41] rosheen33 commented on #175
@rennerocha I have talked to @andrewbaxter and also tested it locally and seems like it is been resolved.
@andrewbaxter reported this right before 1.10.0 was released

![image](https://user-images.githubusercontent.com/7950673/59759067-bb892880-92a8-11e9-911a-0999980dc192.png)

[2019-06-19 10:42] rosheen33 commented on #175
@rennerocha Can you please close this issue ?

[2019-06-19 10:44] #175 closed

[2019-06-19 11:04] rosheen33 commented on #125
PR is merged

[2019-06-19 11:06] rosheen33 commented on #125
@rennerocha @raphapassini PR is merged I am going to close this issue.

[2019-06-19 11:06] #125 closed

[2019-06-19 11:59] rosheen33 commented on #50
@andrewbaxter What kind of error you want here ?
` 'spidermon/validation/items/errors': 1,`
This field already describes how many items have validation errors

[2019-06-19 12:10] rosheen33 commented on #50
@andrewbaxter If you want to get a warning you can add the following setting
`SPIDERMON_VALIDATION_DROP_ITEMS_WITH_ERRORS = True`
https://spidermon.readthedocs.io/en/latest/item-validation.html#spidermon-validation-drop-items-with-errors

[2019-06-19 13:11] andrewbaxter commented on #50
I think this was more about how the validation errors are logged/interact with the logging system.

Ideally, I'd like to see
[code]
and also have the errors appear in the logs with log level ERROR.

That way, say, in Scrapy Cloud, if you look at a job in the dashboard it will show "1 error" with a link, and when you click on it it will take you to the logs page with the ERROR filter already applie

[2019-06-19 13:17] rosheen33 commented on #50
@andrewbaxter Maybe we can convert the Warning into an error on the above setting ?
@rennerocha @raphapassini @Gallaecio What are your thoughts on this one ?

[2019-06-19 13:54] rennerocha commented on #50
In my opinion, `log/ERROR` stat is not the right place to include the validation failures. It should be reserved to errors like code exceptions that affects the spider execution (not the data it was returned). I can see scenarios where is acceptable to have some number of validation failures and including them as errors may confuse the user.

When a monitor fails, it includes an error line in the

[2019-06-19 14:08] rosheen33 commented on #50
@rennerocha I agree
That is exactly what we do in the maintenance projects [Attach a monitor to see how many items are not conforming to the validators]
So should we close this issue ?

[2019-06-19 16:27] andrewbaxter commented on #50
I think the severity of incorrect items depends on the project, and in projects where data quality needs to be high it's as significant an issue as any other error.

How about making whether it's an error or warning an option?

[2019-06-20 07:15] rosheen33 commented on #50
@rennerocha @raphapassini Do we need a change here ?

[2019-06-20 10:13] rosheen33 commented on #101
https://github.com/scrapinghub/spidermon/blob/master/tests/contrib/scrapy/test_extensions.py

[2019-06-20 12:36] rosheen33 commented on #47
@rennerocha @raphapassini What about `SPIDERMON_CLOSESPIDER_BY_EXPRESSIONS_MONITOR` ?
In which we check periodically for errors like we do in periodic monitors and end spider if certain limit is reached.
And allow all the expressions that we allow in Expressions Monitor ?

[2019-06-20 12:36] rosheen33 commented on #47
Maybe Something like this ?
[code]

[code]

[2019-06-24 11:53] Gallaecio commented on #47
If the same can be achieved with periodic monitors, as @rennerocha suggests, I agree with him that it may be better to use them instead. They give great flexibility, allowing complex expression evaluations and also allowing to react in different ways (not just to close the spider).

We could extend the periodic monitors documentation page, instead. Maybe cover the specific case of stopping a spide

[2019-06-24 18:12] andrewbaxter commented on #47
I'm not against monitors per se but it's a significant extra burden on getting set up.  I think the discussion from #50 is getting dragged in here since the proposed solutions are similar, so continuing down that path:

Suppose you start with a spider and you have a rough schema - to get from that to errors in the log you need to
1. Add spidermon dep, jsonschema dep
2. Write a 15 line monitor suit

[2019-06-26 11:27] rosheen33 commented on #47
@Gallaecio I will add the documentation then

[2019-06-26 11:59] rosheen33 commented on #47
@Gallaecio @rennerocha @raphapassini
Please have a look at the comment of @andrewbaxter

[2019-06-27 14:06] rennerocha opened #182 "Include Cerberus as new available library for item validation"

[2019-07-01 11:51] rennerocha commented on #126
@matiskay Spidermon 1.10.2 allows you to set an absolute path for your custom templates.
If you find any problems, refer to this issue again.

[2019-07-01 11:51] #126 closed

[2019-07-01 11:53] rennerocha commented on #146
This issue is being developed by @leovictorsr during GSOC 2019 (Issue #74). This issue is duplicated.

[2019-07-01 11:53] #146 closed

[2019-07-05 11:01] Gallaecio commented on #47
Well, I guess this may be a common-enough scenario to have its own option. Worth a pull request, at least; we can discuss further over an implementation proposal.

[2019-07-06 14:10] vipulgupta2048 commented on #182
Saw this just now, well hello there.
I am leading the project as part of GSoC 2019,

**Project Details**
[Google Official website listing ](https://summerofcode.withgoogle.com/projects/?sp-search=vipulgupta#6742209389395968)
**Mentors** - @rennerocha @ejulio
**Work being done here** - https://github.com/vipulgupta2048/spidermon on the branch `Cerberus`
If you like to read about my progress or mile

[2019-07-06 14:17] vipulgupta2048 opened #184 "Deprecation warning thrown by PyTest"
On running, Pytest it throws some deprecation warning in files `validate.py` and `union.py` of `schematics`, It seems some functions got deprecated since Python 3 but would like a `go-ahead` if I should be solving this by applying PyTests suggestion. Here's the detailed error.

[code]

Will open some more issues, to at least problems that we can be fixing.

[2019-07-08 09:48] paulfsheridan opened #185 "How to monitor specific spiders?"
I'm following the 'Getting Started' tutorial in the docs, and the examples that are given only include one Spider, in my Scrapy project I have multiple Spiders, I'm wondering how I have my monitors run on specific Spiders?

[2019-07-08 15:28] #185 closed

[2019-07-08 16:05] paulfsheridan opened #186 "'AttributeError: Spider object has no attribute 'stats_history'"
I'm trying to run a 'HistoryMonitor' monitor similar to the one on [this page](https://spidermon.readthedocs.io/en/latest/getting-started.html) however when I run in production I receive this error: 'AttributeError: Spider object has no attribute 'stats_history', I have also enabled the DotScrapy Persistence addon.

[2019-07-12 08:21] muzaffaryousaf commented on #144
@wRAR  Will this be addressed under #164  as well ?

[2019-07-12 08:27] wRAR commented on #144
@muzaffaryousaf yes.

[2019-07-13 14:31] rennerocha commented on #186
This happens because `STATS_CLASS` setting is being overriden by Scrapy Cloud from `spidermon.contrib.stats.statscollectors.LocalStorageStatsHistoryCollector` to `sh_scrapy.stats.HubStorageStatsCollector`, so `stats_history` attribute is never included on spider instance opening.

To be able to use it in Scrapy Cloud, you need to go to [Spider Settings](https://support.scrapinghub.com/support/solu

[2019-07-13 14:36] rennerocha opened #187 "Make LocalStorageStatsHistoryCollector works smoothly with Scrapy Cloud"
Related to #186.

Projects deployed in [Scrapy Cloud](https://scrapinghub.com/scrapy-cloud) overrides `STATS_CLASS` setting by default. To make `LocalStorageStatsHistoryCollector` works correctly, it is necessary to [manually change](https://support.scrapinghub.com/support/solutions/articles/22000200670-customizing-scrapy-settings-in-scrapy-cloud) the Spider settings to use Spidermon's class.

The

[2019-07-15 11:03] paulfsheridan commented on #186
Great thanks for this.

[2019-07-15 11:03] #186 closed

[2019-07-17 15:45] thamenato opened #189 "Use other regions on AWS SES"
Hi, I currently ran into that problem and couldnt really solve it by simply adding the environment variable `AWS_DEFAULT_REGION` into something else than `us-east-1`. I made a local patch to use a different function from `boto.ses` which allows you to set the `region_name`.

I would like to know if I can send a pull request and how I can do it.

Thanks

[2019-07-17 16:23] vipulgupta2048 commented on #189
Hi @thamenato, thanks for using Spidermon. Could you tell a little more about the exact problem you faced that would be helpful to debug this on our end? Regarding the PR, yes, you can send a PR. One of the maintainers can review and suggest changes to it.

Guide to making a PR --> https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-07-17 16:57] thamenato commented on #189
@vipulgupta2048  Just sent it! https://github.com/scrapinghub/spidermon/pull/190

My problem was that my SES is configured on `us-west-2` and when the class SendSESEmail tries to send the email with the function `session.send_raw_email()` it raises the following exception:
[code]
So I figured that the problem was that boto was ignoring (or not even using) my `DEFAULT_AWS_REGION` environment variab

[2019-07-17 17:01] rennerocha commented on #189
Hello @thamenato ,

I believe that you need to change [this method](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/actions/email/ses.py#L33) so the region can be set. This would be a great improvement in our SES e-mail action.

Feel free to send a PR so we can add this new option in our next Spidermon release.

[2019-07-18 08:38] wRAR commented on #144
This is implemented in #164, now all errors are raised together.

[2019-07-18 08:38] #144 closed

[2019-07-18 09:55] wRAR commented on #151
The first stage is merged. The next stage should be using the new code to implement the idea of per-field thresholds, most of it is probably out of scope of the mixin and will reside in user-created monitors based on the mixin. I think we can also create a monitor that tries to take the thresholds from the settings.

[2019-07-22 18:07] thamenato commented on #168
Is this issue still relevant? That is one of the reasons why I am not using spidermon's validator for now. Should I give it a try?

[2019-07-22 18:14] thamenato opened #191 "Add Microsoft Teams integration"
So I was reading #95 and saw that it might be interesting to improve current default integrations, which I had to do some tweaking on slack's.

I was wondering about adding integrations to spidermon even though it's not it's core. I might have to implement Microsoft Teams notifications at my work and I was wondering if it would be a nice feature to add directly to spidermon or if I should make ano

[2019-07-23 07:56] manycoding commented on #168
Yep, and you are welcome to submit a pr.

[2019-07-23 13:52] vipulgupta2048 opened #192 "Add datetime to formats of JSONSchema"
Filename - `tests/test_validators_jsonschema.py`
Line Number - 505
Command - `pytest tests/test_validators_jsonschema.py`
**Testcase in question**
[code]

Error with this test,

[code]
**Problem** - Datetime validation not being done properly due to lack of formats.

**Explanation**
Now, there is an issue for it in [StackOverflow](https://stackoverflow.com/questions/20264146/json-schema-date-time-

[2019-07-23 13:56] vipulgupta2048 commented on #192
I recommend taking a look here for the same, https://github.com/Julian/jsonschema/blob/e4fa34f6517895a81e5ba7e648dc0796f25f9b21/jsonschema/_format.py#L288

Also, I am not sure how other formats work without their format_checker in place. Maybe their test cases haven't been written or they just somehow work.

[2019-07-31 13:57] #189 closed

[2019-07-31 14:11] rennerocha commented on #192
@vipulgupta2048 I couldn't get this test failing in a fresh install of spidermon. It is working correctly. These tests weren't updated for a long time and we didn't get errors, so maybe there is something different in your code that is making this error happen.

We also have some (custom format checkers)[https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/validation/jsonschema/f

[2019-07-31 14:25] rennerocha commented on #184
@vipulgupta2048
This (DeprecationWarning)[https://docs.python.org/3/library/exceptions.html#DeprecationWarning] is raised by inspect.getargspec function and it is used by schematics. So it is a schematic library problem that needs to be fixed in their codebase (not related to Spidermon). We could ignore it in tox.ini, but I believe it is worthy to have it in Spidermon tests so we are warned if we

[2019-07-31 14:25] #184 closed

[2019-07-31 14:37] rennerocha commented on #140
There is a plan to refactor ItemValidationPipeline to remove this requirement. After that you will only be asked to install schematics if your are using it (the same for JSON Schema). For now, you really need to install it to be able to use spidermon.

[2019-07-31 14:37] #140 closed

[2019-07-31 14:39] rennerocha commented on #168
@thamenato We have some custom validators here:
https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/validation/jsonschema/formats.py
Maybe we can use the same logic for user-defined JSONSchema validators?

[2019-07-31 14:41] vipulgupta2048 commented on #192
I apologize for the false alarm on this one, on a fresh install even I don't see this error popping up. I must have missed something here. Will be more considerate before posting issues next time onwards. Closing!

Regarding custom format checkers, I did check them. I assumed the absence of a DateTime format checker might be the reason for this problem, as also mentioned in the StackOverflow answe

[2019-07-31 14:41] #192 closed

[2019-07-31 14:47] thamenato commented on #168
Oh that's great @rennerocha, I haven't had much free time yet to work on this issue but that helps me with a starting place. It seems like we could use that logic for user-defined.

[2019-08-01 05:51] kingking888 opened #194 "How can i sendmessage to ..@163.com"
Excuseme, How can i sendmessage to ..@163.com , china email. not Amazon

[2019-08-01 10:27] Gallaecio commented on #194
Please, use [StackOverflow](https://stackoverflow.com/tags/spidermon) to ask this type of questions.

[2019-08-01 10:27] #194 closed

[2019-08-07 18:51] HassanQamar07 opened #196 "Add monitors for export validations"
Currently, there are monitors for item count validation, checking errors, etc. There is one important monitor that is missing, to monitor whether the data has been exported to FEED_STORAGE or not.

[2019-08-09 02:49] sulthonzh opened #197 "Ask: Multiple items types validator models"
![image](https://user-images.githubusercontent.com/4921059/62750320-f417d800-ba89-11e9-9298-549f32f0b56c.png)

https://spidermon.readthedocs.io/en/latest/item-validation.html

I have a problem when applying multiple items types to the validation model,

maybe I don't quite understand,

what is indicated by the red box in the picture? items Classes, validators Classes, or others?

[2019-08-14 12:53] sulthonzh commented on #197
fix example #199

[2019-08-14 12:53] #197 closed

[2019-08-20 00:56] sulthonzh opened #200 "Unable to find scrapy.cfg file to infer project data dir"
![image](https://user-images.githubusercontent.com/4921059/63309123-cb140480-c31f-11e9-905a-4399ad21d47e.png)

even when scrapy.cfg is included in the egg file

[2019-09-01 06:40] alexander-matsievsky opened #207 "`SlackClient.api_call` error responses are not logged"
@jesuslosada @rennerocha Hi, Spidermon team!

Recently I started to get these errors in my job logs:

[code]

From the looks of it, they are caused by the transient Slack API error responses, in my case to the https://api.slack.com/methods/users.list method.

1. Could we log `ok=false` responses?
2. Could we retry such responses several times as they seem to be retryable?

[2019-09-01 06:44] alexander-matsievsky commented on #207
In fact, that might be the cause:

https://api.slack.com/rtm#errors

[2019-09-01 06:59] alexander-matsievsky commented on #207
I've started to receive these errors this week when I automatically scheduled around 15 jobs instantly. Then, `SPIDERMON_PERIODIC_MONITORS` chimed in emitting 15 alerts every 3 hours within the same minute or so. That's a plausible explanation.

[2019-09-03 14:38] #124 closed

[2019-09-03 14:39] #179 closed

[2019-09-03 20:01] ejulio opened #210 "Update list settings to use settings.getlist"
Some list-like settings, `SPIDERMON_EMAIL_TO` for example, [are loaded using `settings.get`](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/actions/email/__init__.py#L77). Then, they need to be [formatted properly](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/actions/email/__init__.py#L147). By updating to `getlist` the method is not required, as i

[2019-09-04 12:14] ejulio opened #211 "Fallback to scrapy AWS settings if not set"
Currently, to send _SES_ emails, we need to set `SPIDERMON_AWS_ACCESS_KEY_ID` and the other configs for that.
Though, it may be the case of a single user configured in scrapy for file delivery and the same user is authorized to send emails.
My idea is to read `SPIDERMON_AWS_ACCESS_KEY_ID`, and if it is empty, we can fallback to `scrapy` default [`AWS_ACCESS_KEY_ID`](https://docs.scrapy.org/en/late

[2019-09-18 07:34] sjdweb opened #213 "Error when deploying on Scrapy Cloud (Python 3.6)"
Does anyone have any idea why this would work fine locally but error once deployed to Scrapy Cloud? Looks like Python 3.6 is the only difference vs. my local 3.7.

`requirements.txt`
[code]

Error when running
[code]

[2019-09-18 09:12] sjdweb commented on #213
My bad, I was missing

[code]

from `./scrapinghub.yml`

[2019-09-18 09:12] #213 closed

[2019-09-23 11:25] rosheen33 commented on #47
https://github.com/scrapinghub/spidermon/pull/216
Proposed Solution

[2019-09-24 06:01] BurnzZ opened #217 "TravisCI build badge point only to master"
We upgraded to the latest version of spidermon last night and was encountering an issue in production.

While investigating the issue by browsing through the repo, I've noticed that the current build was failing. At first I thought the issue with our production use was discovered, but it turns out that the Travis CI build badge we're using in the `README.rst` doesn't point to just the master branc

[2019-09-24 11:29] rennerocha commented on #47
As @andrewbaxter said, it is not a good solution to create new features for every use case and we need to consider that a Spidermon user is a developer that is able to create her/his own monitors with custom (and more complex) checks that matches their scenarios. So we need to keep new settings and automatic validation as simple as possible.

I didn't like the `SPIDERMON_CLOSESPIDER_BY_STATS` form

[2019-09-24 16:29] vipulgupta2048 commented on #217
Hello @BurnzZ, thanks for opening an issue regarding this :hatching_chick:
I feel the build badge should be pointing the build status of the master branch only. But, I am sure there might be a reason for this, if not we will fix it shortly. Thanks for bringing it to our notice.

[2019-09-26 06:24] kishan3 commented on #141
@Gallaecio Can this be closed as PR for this is closed?

[2019-09-26 08:49] Gallaecio commented on #141
@vipulgupta2048 Thoughts?

[2019-10-01 11:29] rennerocha commented on #217
Hello @BurnzZ , thanks for pointing that. It is really incorrect and we should show only master status, not other branches. Created a PR to fix this issue.

[2019-10-01 13:22] vipulgupta2048 commented on #141
Thanks for pinging this issue back into action @kishan3
I planned to work more on it, improving each section of the documentation related to actions. Till now, I have managed to add information to only Slack action. Feel free to open a new PR to improve more actions. Otherwise, closing it for now.

[2019-10-01 13:22] #141 closed

[2019-10-01 13:58] #217 closed

[2019-10-07 16:07] ejulio commented on #47
Just throwing my 2 cents here.
I agree that it must something simple and specific, not completely generic (at first).
So, a concrete setting should be the best place to start.
The only thing I don't like about `SPIDERMON_CLOSESPIDER_VALIDATIONERRORCOUNT` is that `VALIDATIONERRORCOUNT` is not `_` separated.
This is something that always get me to some confusion in scrapy settings and I need to go t

[2019-10-10 18:36] heylouiz opened #220 "Add Action to send reports to Telegram"
I think it would be cool to add an action so the Spidermon can also send reports using a Telegram Bot, since not everyone uses Slack.

[2019-10-23 05:40] vipulgupta2048 opened #222 "Document spidermon.core.monitors.Monitor"
This bit needs to be documented https://github.com/scrapinghub/spidermon/blob/54b8e873aee2c60c039dcccab2b0dd8fcd502aa0/spidermon/core/monitors.py#L10 in the code

Please tag this issue as `Hacktoberfest` and `good-first-issue` for new folks to contribute.

[2019-10-24 18:08] vipulgupta2048 opened #223 "Travis build failing for Python 3.4"
Referring to python-slugify's [changelog](https://github.com/un33k/python-slugify/blob/master/CHANGELOG.md), the project just dropped support for Python 3.4, leading to builds for py34 failing in Travis. Below is the log,

[code]
The behavior can be seen in new recently built PR's #214 and #218.

**Suggestions**
- Remove the build env py34 from tox [Short-term]
- Start working on #107 [Long-term]

[2019-10-24 18:17] vipulgupta2048 commented on #107
Hey folks, reading and raising this topic again.
I think we can at least start with the migration work and work towards the goal of dropping support for python 27 and python < 3.4
What say? Should we get the ball rolling now or after the end of life of Python2.7

[2019-10-28 17:56] ejulio commented on #139
The docs should be fine to update.
But, the `FATAL` part is a bit tricky.
The current behavior raises `NotConfigured`, which is the standard exception in scrapy for this behavior.
So, should we raise some other exception, log a `FATAL` message there, or add something to scrapy to break if something is not configured?

[2019-10-29 09:35] Gallaecio opened #225 "Implement a setting directive in the documentation"
Scrapy has a `setting` directive implemented for Sphinx documentation that allows linking to settings while formatting them as code in an easy manner.

Looking at #212, I think Spidermon could benefit from implementing such a directive as well.

[2019-10-29 10:25] andrewbaxter commented on #139
In this case I think someone who adds `ItemValidationPipeline` to the pipelines list presumably wants to perform validation - if they don't have any validators configured it's more likely a mistake than a signal that they don't want validation.  IMO raising another exception that wouldn't be caught here to abort the job before it runs unexpectedly without validation sounds good to me.

If adding t

[2019-11-07 12:40] HassanQamar07 opened #227 "no proper message or monitors for extra fields when using jsonschema"
The stats for unexpected fields is almost unreadable and can't be used for writing a monitor to raise error if a crawler is crawling any unexpected field.

`'spidermon/validation/fields/errors/unexpected_fields_upopularity_ranking_uratings_utotal_competition_ucertificate_of_excellence_unum_of_photos_uclaimed_uprice_range_were_unexpected': 1,
 'spidermon/validation/fields/errors/unexpected_fields_u

[2019-11-21 16:21] Kiollpt opened #231 "I was trying to compare spider result on scrapyinghub and failed"
### I got two problems:

1 . Get `SpidermonHistory Validation/Expected number of items extracted... ERROR.`
     ( already config STATS_CLASS on hub)
[code]
2.  I try to use job object to filter item. It should have worked but return `400 Client Error: Bad Request for url`

[code]
How can I fix it ?

[2019-11-22 02:58] Kiollpt commented on #231
[update]
About first, I always get `deque([], maxlen=10)`

[2019-11-22 02:59] Kiollpt commented on #231
[update]
About first, I always get `deque([], maxlen=10)`

[2019-11-27 13:48] #223 closed

[2019-11-27 15:12] rennerocha commented on #227
Do you have some suggestion a better way to include these error in the stats?

[2019-11-28 21:02] victor-torres opened #233 "It's not possible to specify SPIDERMON_SLACK_RECIPIENTS via Scrapy Cloud"
We should replace `settings.get` by `settings.getlist`. I'm working on a pull request.

[2019-11-28 21:41] victor-torres commented on #233
Loading this setting as a list will make it possible to specify multiple recipients from the Scrapy Cloud interface without needing to do that from the source code.

[2019-12-03 17:12] #233 closed

[2019-12-06 10:35] Gallaecio opened #235 "Report test coverage"
It would be great if Spidermon could generate coverage data when running tests.

Moreover, if the project is configured to to work with https://codecov.io/, pull requests could get a message reporting how they affect test coverage.

[2019-12-07 17:39] vipulgupta2048 commented on #235
Excellent idea, @Gallaecio
We do have `pytest-cov` plugin added into the pytest suite. Ain't much help since we have a lot of Python files. I think, having a quick report while making PR's will be useful to both the contributor and maintainers in the long run.

[2019-12-21 13:17] mirceachira commented on #101
Is this still relevant&available? I'd like to work this if possible

[2019-12-27 15:48] #220 closed

[2019-12-27 16:30] rennerocha commented on #235
This should be fixed with https://github.com/scrapinghub/spidermon/pull/236

There is a warning `No coverage uploaded for pull request base` in coverage bot comment. Not sure if this is will appear only because we never have a build that run coverage in master before and it will start working after merging this PR.

@Gallaecio do you have any comment on this?

[2019-12-30 08:12] Gallaecio commented on #235
@rennerocha I agree with you, I think it should start working once merged. That said, I’ve been [unable to enable Codecov for Protego](https://codecov.io/gh/scrapy/protego) yet, so I’m far from an expert :)

[2019-12-30 13:52] rennerocha commented on #235
It is merged. I hope it works :-)

[2019-12-30 13:52] #235 closed

[2020-01-01 20:39] rennerocha commented on #210
Fixed in https://github.com/scrapinghub/spidermon/pull/238.

[2020-01-01 20:39] #210 closed

[2020-01-14 12:06] vipulgupta2048 commented on #225
Hey @Gallaecio, sounds interesting. Can you point to where I can find that `setting` directive in Scrapy? Is this what you are referring to [1](https://github.com/scrapy/scrapy/blob/master/docs/_ext/scrapydocs.py).
I read about [directives](https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html) from the Sphinx Docs.

[2020-01-24 14:58] rennerocha opened #239 "SPIDERMON_ENABLED not disabling spidermon related item pipelines"
Even if we set `SPIDERMON_ENABLED` to `False`, item validation pipeline still works, so spidermon is not completely disabled by this setting.

[2020-02-25 16:52] ejulio opened #243 "Email Action faile with Periodic Jobs and default template"
I created a Periodic Monitor to send emails if a given condition fails.
However, email action fails as it reads the stat `finish_time`, but it is not set at the time because the spider is still running.

Here is the code line
https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/actions/reports/templates/reports/email/monitors/result.jinja#L169

[2020-03-08 18:24] Sammeeey opened #245 "ImportError: No module named statscollectors in Scrapinghub"
I configured a monitor as described [here](https://spidermon.readthedocs.io/en/latest/stats-collection.html) and tried to run it in scrapinghub manually.
But then I get the following ERROR:
[code]
DotScrapy Persistence Add-on is enabled.
And in Spiders > Settings
`STATS_CLASS = spidermon.contrib.stats.statscollectors.LocalStorageStatsHistoryCollector`

[2020-05-05 20:34] rennerocha opened #246 "bug: AttributeError when using ValidationMonitorMixin"
When executing a monitor using `ValidationMonitorMixin`, a `AttributeError` is raised because a needed attribute is not set:
`AttributeError: 'CoverageValidationMonitor' object has no attribute 'correct_field_list_handling'`

This answers this comment:

[2020-05-07 11:40] #246 closed

[2020-05-20 17:11] rennerocha opened #251 "Update slackclient version"
`SendSlackMessage` action don't work with the 2.x `slackclient` versions. To avoid breaking spidermon, we are locked with 1.x version.

There is a guide for migrating the library as it was completely rewritten (so it is backward incompatible):
https://github.com/slackapi/python-slackclient/wiki/Migrating-to-2.x

This was related to this issue:
https://github.com/scrapinghub/scrapinghub-stack-scrap

[2020-05-22 13:52] rennerocha opened #253 "feature: Built-in monitor for field coverage"
In certain spiders we can accept that not all items returned contains a certain field, but we expect that at least certain amount of items returned contains this field. We can use `ValidationMonitorMixin` to create monitors that do this kind of validation. However this requires us to write code and updating the thresholds requires changes in the source code.

My idea is to create a new built-in mo

[2020-05-22 14:18] simoess commented on #253
@rennerocha I think the proposed format will be a good format to standardize the way that the field coverage monitors are defined. A built-in monitor would be great. On most project's that I've worked on, the settings are usually defined this way:

SPIDER_NAME: {
    "field_name_1": min_percent,
    "field_name_2": min_percent,
    "composed_field_name": { # only one project that I've worked on ha

[2020-05-22 15:19] Gallaecio commented on #253
For composed fields, in a project where I used to work we would use the “field path”, e.g. “composed_field_name/sub_field_name_1”.

Issues to consider:
- Fields containing `/` in their name would be a problem.
- Should relative values (percentages) be relative to the parent field or to the item count?
- List item count checks. If `field1` is a list, and you want to check totals of `len(field1)`.

[2020-05-22 16:47] rennerocha commented on #253
`ValidationMonitorMixin` implementation requires that to be able to do this kind of validation, we need to set a field as required, even if it is not, or else we will not have the stats of the coverage. This new monitor should remove this need, so we can have fields that are not required (in the JSON schema for example), but we need some coverage.

[2020-05-25 13:55] rennerocha opened #255 "chore: Add support for Python 3.8"
We had some issues on tests when trying to add Python 3.8 support:
https://travis-ci.org/github/scrapinghub/spidermon/jobs/690114229

Related to #252

[2020-05-26 19:50] #239 closed

[2020-06-04 11:13] PTaylour opened #256 "PyPI behind latest tagged release"
Hi! 👋

Looks like travis failed on the `v1.12.2` tagged commit and therefore didn't deploy to PyPI (https://travis-ci.org/github/scrapinghub/spidermon/builds/684233498).

PyPI is still stuck on `v1.12.0` (https://pypi.org/project/spidermon/)

![image](https://user-images.githubusercontent.com/3678476/83749736-18b5ef80-a65c-11ea-85ee-6b097f54e61e.png)

[2020-06-05 17:07] PTaylour commented on #253
I've seen a couple limitations with `ItemValidationPipeline` and `ValidationMonitorMixin` that seem relevant.

@rennerocha your format (with the ability to namespace fields within an item type) solves a particular problem I just ran in to.

### Different items where some field names are the same

Using `ItemValidationPipeline` with multiple items that share the same field names (eg `MyItem1.url`,

[2020-06-23 16:39] rennerocha commented on #256
Fixed with release of Spidermon 1.13.0.

[2020-06-23 16:39] #256 closed

[2020-07-03 07:31] enjoybyte opened #259 "Spidermon's FileReport does not support Chinese"
Hi, I'm creating a report using spidermon's CreateFileReport：
[code]
But it turns out that Chinese is not supported，I know this is caused by jinja2。So I changed the encoding in the default template。utf-8 -> gb18030

`Python37\Lib\site-packages\spidermon\contrib\actions\reports\templates\reports\email\bases\report\base.jinja`

[code]
then it works。

[2020-07-06 09:46] Gallaecio commented on #259
Are you sure you are writing your Chinese text in UTF-8? Any change you can provide a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2020-07-06 09:59] starrify commented on #259
It is expected that if you decide to use GB18030 (or any other non-UTF-8 encoding), you'll need to have the full chain (content, template, code, browser, etc.) configured in this specific encoding as well.

Similar to Scrapy or many Python libraries, Spidermon by default supports UTF-8 only. I assume that it shall work properly if your content in Chinese (or any other language) is prepared in UTF-

[2020-07-23 12:56] natpukarthi opened #261 "Email Sending Example"

[2020-08-06 13:58] andersonberg commented on #251
I will start working on this issue

[2020-08-06 15:31] rennerocha commented on #251
Thanks @andersonberg ! Please let me know if you need some assistance.

[2020-08-17 23:58] #255 closed

[2020-08-18 11:11] #253 closed

[2020-08-18 13:18] rennerocha commented on #151
https://github.com/scrapinghub/spidermon/pull/262 provided stats for number of items returned and coverage by field, without relying on schemas. These stats can be compared between spiders executions and custom monitors can be used to find when we have a drop in coverage of a certain field.

https://github.com/scrapinghub/spidermon/pull/263 added a new built-in monitor and easy way to set coverage

[2020-08-18 13:18] #151 closed

[2020-08-18 13:21] rennerocha commented on #107
As the project is build to help Scrapy users, we should try to support the versions that are supported by it. At this moment, we will support Python 3.5+. Support for older versions was dropped.

[2020-08-18 13:21] #107 closed

[2020-08-31 14:05] rennerocha opened #266 "chore: Drop Python 3.5 support"
Python 3.5 will [reach its end-of-life](https://devguide.python.org/#status-of-python-branches) on 2020-09-13. Given that [Scrapy 2.4](https://github.com/scrapy/scrapy/issues/4732) that will be released in the next days will also drop support for Python 3.5, we should remove it from Spidermon as well.

[2020-09-09 05:46] hugovk opened #269 "Remove six library"
Once #267 is merged the `six` library can be removed, and https://github.com/asottile/pyupgrade can help with that and other syntax upgrades, using the `--py3-plus` or even `--py36-plus` now.

_Originally posted by @hugovk in https://github.com/scrapinghub/spidermon/pull/267#issuecomment-687661223_

[2020-09-10 13:30] #266 closed

[2020-09-10 15:47] hugovk commented on #269
Please see PR #270.

[2020-10-05 12:46] #251 closed

[2020-11-05 06:24] prashantenprocon commented on #186
Is there any authentication require where adding on scrapy cloud in STATS_CLASS.

[2020-11-06 12:41] Gallaecio commented on #186
Scrapy Cloud overrides `STATS_CLASS`. If your issue is that you define a custom `STATS_CLASS` in settings.py but it does not get picked up, it’s because of that; you need to define `STATS_CLASS` in the spider settings in Scrapy Cloud itself.

[2020-11-11 00:18] phrfpeixoto opened #278 "ItemCountMonitor fails if SPIDERMON_MIN_ITEMS is 0"
Hello,

When working on a spider using SPIDERMON_MIN_ITEMS I stumbled upon this:

https://github.com/scrapinghub/spidermon/blob/cb7b80aa30ae8af97a05b072a5725dbcd7067c74/spidermon/contrib/scrapy/monitors.py#L25-L40

On that code, line 36 will always fail if the constant `SPIDERMON_MIN_ITEMS` is not defined, **or even worst, defined as 0 (zero).**

[2020-12-14 09:45] kevinflo commented on #95
I would especially love to see `SPIDERMON_ADD_FIELD_COVERAGE` able to be represented in the notifications. I just want to see at a glance if some field isn't getting captured properly or is only grabbing empty strings etc.

I currently actually can't find field coverage logged in scrapinghub anywhere either. The only time I can see field coverage information is when I run the spider locally

[2020-12-16 19:04] ejulio commented on #95
Interesting.
Can you try?
[code]

This should log the stats and make sure they've been updated.
Maybe something is not running or scrapinghub is not updating them properly

[2021-01-28 09:35] MartiONE opened #281 "Recursive item logging is creating unnecessary noise"
Hello everyone,

I've been implementing Spidermon for the project I am working in right now and I noticed that upon enabling `'SPIDERMON_ADD_FIELD_COVERAGE' : True` the logs were getting way out of hand. The reason behind is that we save data on placeholder `Item` fields as a dictionary and then that data is picked up by the recursive nature of the [stat logging system](https://github.com/scraping

[2021-03-10 10:58] wRAR opened #283 "Doc building error"
`tox -e docs` outputs:

Warning, treated as error:
/home/travis/build/scrapinghub/spidermon/docs/source/actions.rst:5:duplicate label actions, other instance in /home/travis/build/scrapinghub/spidermon/docs/source/actions.rst

Note that this doesn't fail the PR checks, not sure if that's intended (maybe because the check runs several tox commands separated by semicolons and the shell eats the exit

[2021-03-10 11:16] wRAR commented on #283
Yup, other files are affected too, as can be checked by removing `-W` from the build command.

[2021-04-06 15:21] Gallaecio opened #285 "Email has stopped working"
[It looks like we need to switch to boto3](https://stackoverflow.com/a/63454370/939364) to fix it.

[2021-04-06 16:16] Gallaecio opened #287 "The Python 3.6 fails in CI"
It seems unrelated to the Spidermon code. Maybe it’s time to migrate to GitHub Actions.

[2021-04-07 00:31] #285 closed

[2021-04-19 13:44] rennerocha commented on #287
It will be fixed with https://github.com/scrapinghub/spidermon/pull/291 (moving to Github Actions).

[2021-04-19 13:44] #287 closed

[2021-04-19 13:45] rennerocha commented on #283
Docs building errors fixed with https://github.com/scrapinghub/spidermon/pull/290 and https://github.com/scrapinghub/spidermon/pull/292.

[2021-04-19 13:45] #283 closed

[2021-04-19 13:59] rennerocha commented on #169
Configured in https://github.com/scrapinghub/spidermon/pull/291

[2021-04-29 20:35] rennerocha opened #293 "Allow pass extra optional arguments to Slack API"
When sending a [Slack message](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/actions/slack/__init__.py#L111) we don't have an easy way to provide extra arguments to [postMessage](https://api.slack.com/methods/chat.postMessage) method (`mrkdwn` or `thread_ts` for example). It would be good to be able to provide extra arguments.

My use case is that I have an already created

[2021-05-02 15:48] rennerocha commented on #281
Hello @MartiONE ,

After enabling `SPIDERMON_ADD_FIELD_COVERAGE` we increase the size of the stats of the spider, and if you have too many fields in your items (nested fields included), stats that are logged in the end of the spider execution will certainly increases in size. However, this is the desired behavior, as the main idea of adding these logs is to have full coverage information of all fi

[2021-05-02 15:48] #281 closed

[2021-05-02 15:55] rennerocha commented on #278
Hello @phrfpeixoto,
This is the expected behavior and is [documented](https://spidermon.readthedocs.io/en/latest/monitors.html#spidermon.contrib.scrapy.monitors.ItemCountMonitor).
If we add this monitor we necessarily need to define `SPIDERMON_MIN_ITEMS` or else a `NotConfigured` exception will be raised. Defining it as zero doesn't make sense either, so it will raise the exception too.

[2021-05-02 15:55] #278 closed

[2021-05-02 15:56] rennerocha commented on #261
No description explaining what is the issue/bug/new feature provided.

[2021-05-02 15:56] #261 closed

[2021-05-31 13:41] andersonberg commented on #293
I can handle this if anyone is assigned

[2021-06-01 00:29] rennerocha commented on #293
It would be great!

[2021-06-16 01:46] rennerocha opened #295 "Add ReturnPath header to Amazon SES email action"
Add a new optional setting to Amazon SES E-mail action that allows the user to specify an email address that will process any bounces that occur in the e-mails sent.

Sometimes (specially when dealing with multiple projects with different developers/users using the same AWS account), we may want that different email addresses receives bounce notifications to avoid that the email senders won't know

[2021-06-17 11:44] rennerocha opened #296 "Store job execution stats in Scrapy Cloud collection"
Currently we can keep job stats between executions using a custom [stats collector](https://spidermon.readthedocs.io/en/latest/howto/stats-collection.html). However it is a bit tricky to use that when running our spiders in Scrapy Cloud.

An alternative could be store our job execution stats in [Scrapy Collections](https://docs.zyte.com/scrapy-cloud/collections.html), so we can access them between

[2021-07-21 01:48] rennerocha opened #300 "Built-in monitor for spider running time"
When we have long running jobs, usually is useful to be notified if the spider is running for more time than we expect. This may indicate some problem in the spider (infinite redirection), lots of retries or other problem.

A monitor that checks the running time [periodically](https://spidermon.readthedocs.io/en/latest/monitors.html#periodic-monitors) against a `SPIDERMON_MAX_EXECUTION_TIME` setti

[2021-07-21 02:18] rennerocha opened #301 "Built-in monitor to compare item count with previous jobs"
This monitor is more useful when we are running the spider in [Scrapy Cloud](https://www.zyte.com/scrapy-cloud/). The objective is to compare the number of extracted items in current job with the number of items extracted in previous jobs.

- Get only `finished` jobs.
- Limit the number of jobs to be considered (configurable)
- if possible add more ways to decide which jobs to consider, not only t

[2021-07-21 02:24] rennerocha opened #302 "Built-in monitor for max number of failed responses allowed"
Validate maximum amount of `downloader/response_status_count/XXX` for failed responses (4xx or 5xx responses) in general. Maybe have two configurations, one for client errors (4xx) and other for server errors (5xx).

If we want a more granular control (for example, set a threshold only for 503 errors), we already have [UnwantedHTTPCodesMonitor](https://spidermon.readthedocs.io/en/latest/monitors.h

[2021-07-21 02:32] rennerocha opened #303 "Built-in monitor to check amount of critical errors"
[ErrorCountMonitor](https://spidermon.readthedocs.io/en/latest/monitors.html#spidermon.contrib.scrapy.monitors.ErrorCountMonitor) check only for ERROR logs. If we have CRITICAL errors, this monitor will not fail.

Add a new monitor to check CRITICAL errors.

[2021-07-22 20:30] rennerocha opened #304 "Improve Sentry action docs"
Make more clear in the docs https://spidermon.readthedocs.io/en/latest/actions/sentry-action.html that to enable Sentry in your monitoring, you need to create a MonitorSuite that uses SentryMessage action, or else Sentry will not receive any information about your monitors.

[2021-08-12 07:11] arslan-shafiq-zyte commented on #302
Hi @rennerocha
I am looking into it. Thank you.

[2021-08-12 07:13] arslan-shafiq-zyte commented on #302
Hi @rennerocha
I am looking into it. Thank you.

[2021-08-13 07:05] luandataminer opened #305 "Error caught on signal handler: <bound method Spidermon.spider_closed of <spidermon.contrib.scrapy.extensions.Spidermon object at 0x7fb0e1d6f6a0>>"
I also added two custom periodic monitors and imported monitor
[code]

I didn't find the reason that got this error.

[code]

[2021-09-06 13:29] further-reading opened #306 "Fix permissions based errors when sending slack messages"
The current implementation of slack messaging causes errors when certain permissions are missing. The issue come from [the following line](https://github.com/scrapinghub/spidermon/blob/94d4c3291925803c86ef5e892a2fdc228697a20a/spidermon/contrib/actions/slack/__init__.py#L118)

The icon_url argument is an optional argument when sending a slack message to change the avatar displayed when the message

[2021-09-06 15:57] further-reading opened #308 "Tests failing following schematics update to 2.1.1"
In the recent build of schematics some messaging was changed which has resulted in `test_validators_schematics.py::test_choices` failing. Following the update to 2.1.1 the `VALUE_NOT_IN_CHOICES` error from `validation/messages.py` will include the missing option and the contents of the list it was checking in, resulting in the following assertion error:

`{'a': ['Value not in choices'], 'b': ['Val

[2021-09-14 10:15] #308 closed

[2021-09-23 11:28] rennerocha opened #313 "Replace slackclient with slack-sdk for Slack action"
[slackclient](https://pypi.org/project/slackclient/) is under [maintenance](https://slack.dev/python-slackclient/) mode, being replaced by [slack-sdk](https://pypi.org/project/slack-sdk/) library. Considering that this is a Spidermon third-party integration that is used by so many projects and that Slack can change their APIs without us even noticing it, it would be good if we keep our library as

[2021-09-27 19:26] #269 closed

[2021-09-29 13:36] Criamos opened #314 "Spidermon Field Coverage - Item Validation impossible with nested scrapy.Items"
**Disclaimer:** I'm a Python beginner and have been using Scrapy for the past 5 months, so please bear with me since this is the first GitHub Issue I've ever written.

# Problem Description
I've tried integrating spidermon into an existing codebase with ~40 crawlers that use `scrapy.Item`s as their data model. Upon trying to integrate [Item Validation](https://spidermon.readthedocs.io/en/latest/ge

[2021-09-30 06:13] ankitjavalkar commented on #313
I'd like to work on this issue.

I see the slack documentation provides a few suggestions for migrations [here](https://slack.dev/python-slack-sdk/v3-migration/index.html#from-slackclient-2-x), will these suggested changes be sufficient?

[2021-10-03 12:10] rennerocha opened #315 "Remove use of private module from jsonschema"
`jsonschema` latest version removed `jsonschema.compat` module. [According to its author]([https://github.com/Julian/jsonschema/issues/843#issuecomment-931247200), this module was intended to be private and not used by external users.

We are using this module in some JSON Schema [custom validators](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/validation/jsonschema/format

[2021-10-03 21:02] cuducos opened #317 "Are the `is_url` and `is_email` functions correct?"
The `is_url` and `is_email` in [`spidermon/contrib/validation/jsonschema/formats.py`](https://github.com/scrapinghub/spidermon/blob/ba05ad7452ad9c4851737b8c501974209a0bb945/spidermon/contrib/validation/jsonschema/formats.py) returns `True` is the input is anything but a string? `dict()`, `42`, `[42, {}, ('a', 'tuple')]` would all be valid emails or URLS according to these logic.

Shouldn't these f

[2021-10-21 00:17] rennerocha opened #321 "Base built-in monitor for stats validation"
**Problem**

A huge number of monitors follows the same pattern: we have one spider execution statistic and want to validate against a desired threshold. If we look the code of some [built-in monitors](https://github.com/scrapinghub/spidermon/blob/master/spidermon/contrib/scrapy/monitors.py) we can see that the code of them are almost the same (for example `ErrorCountMonitor`, `ItemCountMonitor`,

[2021-11-29 19:30] curita opened #324 "Built-in periodic monitor to check if the amount of items increases"
Spidermon could have a periodic monitor that validates that the amount of items (tracked in the stat `item_scraped_count`) increases after every check.

This will alert us of jobs that are stuck without returning any new items but aren't necessarily throwing any issues.

There could be a threshold to indicate by how much percentage the item count is expected to increase, to alert us for jobs that

[2022-01-04 16:58] #296 closed

[2022-01-04 17:02] #300 closed

[2022-02-11 12:32] #303 closed

[2022-02-11 12:33] rennerocha commented on #321
Closed by https://github.com/scrapinghub/spidermon/pull/325

[2022-02-11 12:33] #321 closed

[2022-02-11 12:35] rennerocha commented on #293
This issue is related to https://github.com/scrapinghub/spidermon/issues/313 . We need to allow these extra arguments using the new Slack library.

[2022-02-11 12:43] rennerocha opened #337 "feature: Support for using SMTP as e-mail action"
There is already an old open PR for this action:
https://github.com/scrapinghub/spidermon/pull/204

Currently we only have the option to send e-mail reports using Amazon SES. If we want to use a different e-mail we have to create our own custom action. Considering that using `smtlib` to send email is easily configured in the majority of the email providers, a built-in action for that would be a go

[2022-02-11 14:05] rennerocha commented on #50
Validation failures should not be logged as errors and added to `log_count/ERROR` stat. As mentioned before we have `spidermon/validation/items/errors` stat and `SPIDERMON_VALIDATION_ADD_ERRORS_TO_ITEMS` setting to add the validation error information into the items scraped so we can use monitors to raise errors when some threshold is not satisfied.

If we want a monitor to check the stats and the

[2022-02-11 14:05] #50 closed

[2022-02-24 13:11] rennerocha commented on #313
Apparently this change is simple like that.

[2022-02-24 13:13] rennerocha commented on #313
Fixed by https://github.com/scrapinghub/spidermon/pull/338

[2022-02-24 13:13] #313 closed

[2022-02-25 12:57] rennerocha opened #339 "skip_if decorator for monitors"
This came from a real use case:

`FieldCoverageMonitor` requires that we have at least one item returned, or else it will fail. However there are situation when we allow a spider to return no items. Think about a real estate website searching for locations in a certain neighborhood, sometimes even with the right code, we don't have any result, so we should not fail our monitors.

This is not possi

[2022-03-23 20:08] rennerocha opened #340 "Fix "ModuleNotFoundError" when running spider outside Scrapy Cloud"
When install `master` branch version and try to run a simple spider, we got a `ModuleNotFoundError` complaining about `scrapinghub` module. This module is necessary if we are running our spiders in Scrapy Cloud, however, this is not a requirement if we are running in other environments, so we shouldn't require that module to be installed.

[code]

[2022-03-25 21:04] rennerocha opened #342 "Fix "ModuleNotFoundError" when adding LocalStorageStatsHistoryCollector"
This error only happens when #340 is fixed (we need https://github.com/scrapinghub/spidermon/issues/342 to be merged so we can reproduce this error) and we add the following value for `STATS_CLASS` in our project settings:

[code]

Because `DashCollectionsStatsHistoryCollector` uses `scrapinghub` library, we have the following error:

[code]

[2022-03-25 21:50] tcurvelo commented on #340
Might be fixed by #323 once it gets merged.

[2022-03-28 11:57] #340 closed

[2022-03-28 20:57] #342 closed

[2022-06-30 22:28] bishalnepali opened #350 "ModuleNotFoundError: No module named 'spidermon.contrib.actions.discord'"
Hi there I am trying to use the discord notification but not able to import the file

`from spidermon.contrib.actions.discord.notifiers import SendDiscordMessageSpiderFinished`

I am using the latest version
<img width="571" alt="image" src="https://user-images.githubusercontent.com/66122349/176789162-f478ec5f-47f0-478a-8f3c-22b4a9536332.png">

Thanks!

[2022-06-30 23:32] rennerocha commented on #350
Hello @bishalnepali ,

Discord integration is not released yet. It is already in `master` branch (the `latest` [documentation](https://spidermon.readthedocs.io/en/latest/actions/index.html)), but not available in the current [stable version](https://spidermon.readthedocs.io/en/1.16.2/actions/index.html) (1.16.2). If you want to use it right now, you will need to install the version in the `master`

[2022-07-01 00:15] Laerte commented on #350
You can install using:

[code]

[2022-07-01 23:36] bishalnepali commented on #350
Many thanks! @rennerocha @Laerte 👍 .

[2022-07-01 23:36] #350 closed

[2022-08-02 19:55] kmike opened #353 "Use itemadapter"
I've seen some code in projects, with a pipeline like this:

[code]

This pipeline is not a proper solution, because it discards information about fields defined on the item, as well as field metadata. It means that exporting could work differently, e.g. CSV header may be set incorrectly.

I haven't checked why it's needed, but currently spidermon uses some scary code to convert items to dicts: ht

[2022-08-03 01:06] curita opened #354 "bug: Docs build in Python 3.10 throws error"
At the moment the Python 3.10 docs build throws an error in `master`.

**Logs:**
[code]

It could be worth it to pin dependencies (sphinx?) to avoid builds from failing after library updates.

[2022-08-03 01:30] curita opened #355 "feature: Fallback for actions"
This was an idea proposed by Chandral from Zyte to address Sentry downtimes, as important Spidermon alerts might get lost while this happens.

Multiple alert actions can be configured in Spidermon as a workaround to prevent messages from getting lost if one of the services is down, but receiving duplicated alerts would generate a lot of noise. Ideally, we'd like to use a backup alert system as a f

[2022-08-03 01:38] curita opened #356 "feature: New built-in action to create Jira tickets"
At the moment built-in actions focus on supporting different alert systems. It would be nice to support ticketing systems by default, as automatically reporting issues based on Spidermon alerts is a common feature across many client projects.

[2022-08-03 01:39] curita opened #357 "feature: New built-in action to create Freshdesk tickets"
At the moment built-in actions focus on supporting different alert systems. It would be nice to support ticketing systems by default, as automatically reporting issues based on Spidermon alerts is a common feature across many client projects.

[2022-08-18 14:15] wRAR commented on #354
Looks like the quoted link doesn't exist, the new one is https://docs.scrapy.org/en/latest/topics/settings.html#aws-access-key-id so I guess the code should be updated.

[2022-08-19 06:45] #354 closed

[2022-08-19 17:52] rennerocha commented on #337
Closed by https://github.com/scrapinghub/spidermon/pull/345

[2022-08-19 17:52] #337 closed

[2022-08-22 20:49] rennerocha commented on #355
Hello @curita !

From your description, I understood that to make this possible, we will need to create some kind of hierarchy between the actions. We will also need a way to identify if an action failed or not.

In my opinion, this will demand a big change in how we define the actions in our monitor suites and the use seems to be very specific to a very particular scenario (Sentry down) that shou

[2022-08-23 08:10] VMRuiz commented on #355
Hello @rennerocha ,

Maybe we could implement this as an Action itself?
The Composed Action receives a list of other Actions and try to execute the first one. If any exception is raised the next one if the list is executed. If all actions in the list failed then the Action itself is marked as failed.

By combining these Composed Actions we can even create complex workflows for example

[2022-09-08 13:45] curita commented on #355
I think this idea originated out of that Sentry downtime, but it could be nice to have for other services that can be temporarily down too (Slack, emails?).

I like the idea of Composable Actions! Though that reminds me a bit of the Compose processor for Scrapy Itemloaders, and it might be expected that all actions run, instead of using the remaining ones as a fallback. Maybe we can borrow the con

[2022-09-09 07:44] VMRuiz commented on #355
Hello @curita ,

You are right, naming is not my best skill. Something like `errbacks` support seems much more appropiate

[2022-09-12 13:45] rennerocha commented on #355
@VMRuiz

Composed Action (or Composable Actions as @curita is better with naming than us) looks an interesting concept, and as you suggested, if we create it as a custom action, it seems that it won't require changes (at least not big ones) in how our current actions are defined and executed!

I added this issue as a possible candidate for the next release, so hopefully soon a PR will appear for r

[2022-09-13 14:51] wRAR opened #363 "No dep on slack-sdk"
In #338 slackclient was replaced by slack-sdk in setup.py only in `test_requirements` but not in `extras_require`, so installing `spidermon[monitoring]` doesn't install it and the Slack action no longer works.

[2022-09-13 15:13] rennerocha commented on #363
As a fallback, installing `slack-sdk` manually using `pip install slack-sdk` and/or adding `slack-sdk` in the requirements would be enough.

Perhaps `monitoring` section should be updated/removed in future. Using `pip install spidermon[slack]` (when we need Slack), `pip install spidermon[amazon]` (when using Amazon stuff) or `pip install spidermon[jsonschema]` when using JSON Schema makes more sen

[2022-10-04 02:12] aaneto commented on #315
Hi @rennerocha!

I have started a local fork of the repository and would like to work on this issue :)

[2022-10-04 14:59] further-reading commented on #355
I'm gonna have a crack at adding this feature.

[2022-10-14 11:42] aaneto commented on #315
Hi,

I'm closing this as this issue was fixed in #364 :)

[2022-10-14 11:42] #315 closed

[2022-11-02 16:58] Gallaecio commented on #353
Makes sense after https://github.com/scrapinghub/spidermon/pull/358

[2022-11-02 16:58] #353 closed

[2022-11-03 10:41] shafiq-muhammad commented on #339
Hello @rennerocha Thank you for the explanation and the suggested solution. Just for my better understanding, can you please explain a bit more that if we can achieve this by using `update_settings` method in the spider?
Like if a spider had not produced any item then we can remove the `FieldCoverageMonitor` monitor using `update_settings` method. Why we should have a solution in Spidermon itself?

[2022-11-03 13:02] VMRuiz commented on #339
Wouldn't it be better to just disable this monitor at all for Spiders that may yield 0 items?

The only advantage that I see to the `skipif` functionally is that the spider can create checkpoints indicating that it tried to extract items but none was found vs the spider failing at the begining of the crawl and closing before finding any item.
But that case would probably detected by ERROR_LOGs mon

[2022-11-03 14:22] rennerocha commented on #339
This can't be achieved using `update_settings` as we will only know that the monitor/monitorsuite should/shouldn't be executed in runtime. `update_settings` is applied only when the spider is started.

[2022-11-03 21:40] rennerocha opened #366 "Allow to skip execution of FieldCoverageMonitor if no item is returned"
This is a fork of issue #339 .

`FieldCoverageMonitor` requires that we have at least one item returned, or else it will fail. However there are situations when we accept that a spider return no items, but if items are returned, we want to ensure our field coverage.

In a project that are in production, we have dozens of real estate websites searching for locations in different neighborhoods daily

[2022-11-03 21:41] rennerocha commented on #339
@VMRuiz When I thought about the `skip_if`solution, my primary goal was to allow the user define any conditional rule to skip the monitor, not only based on the number of items scraped. For example, if we have a monitor that access a database to get some information that will be used inside it, but we don't want that costly procedure to be executed if some specific stat is not set (or set to a spe

[2022-11-03 21:42] rennerocha commented on #339
If something is going to be implemented in Spidermon, #366 looks much more important with real use cases than this issue.

[2022-11-04 08:03] VMRuiz commented on #339
Maybe in just focusing too much in a technicism here but, what is the difference between skippipng a monitor and not executing it?  Why would you want to have a monitor that will always be ok?

This user case looks much more interesting.

[2022-11-04 08:32] VMRuiz commented on #357
If we start to add new external systems like this and https://github.com/scrapinghub/spidermon/issues/356 I think we should discuss how we should do it?

- Implementing API calls to their endpoint manually from our side, which require effort and maintenance.
- Including other open source packages, faster but we risk getting stalled dependencies in the future.

[2022-11-04 11:48] rennerocha commented on #339
I am not sure if you really understood the use-case. One thing is disable a monitor, so it will **never** be executed. Other scenario is, if a certain condition is met (i.e. no items returned, a certain number of errors happen, a finished reason is something different for a certain value, etc) the monitor is not executed (skipped), but if the condition is not met, the monitor is executed.

These c

[2022-11-04 15:11] #363 closed

[2022-11-04 18:14] rennerocha commented on #357
For actions like this, it should be very straightforward to create a separated repository with just the integrations we need. It is basically one class that needs to be imported and used. Even the existing integrations (like Telegram, Discord, AWS SES) could be removed. The source code of each plugin will be small and probably very stable requiring low maintenance.

Perhaps we could create new rep

[2022-11-04 19:21] Gallaecio commented on #357
For separate packages, I would keep them out of extras, let people install them separately, that should be it. But extras for those components that are in the repository at the moment I think extras make sense.

[2022-11-24 13:42] curita opened #369 "idea: Restructure spidermon.contrib.scrapy.monitors"
## Background

`spidermon/contrib/scrapy/monitors.py` contains the following:
* BaseScrapyMonitor
* BaseStatMonitor
* Builtin monitors that inherit from BaseStatMonitor or other mixins
* Builtin monitor suites using some of those builtin monitors

## Inconveniences

That module might contain many classes that could be split into submodules to organize them better.

Particularly it could be nice to

[2022-11-29 07:18] paulvav opened #370 "Schematics seems to no longer be supported."
Hi Spidermon team,

Was looking over the schematics project and noticed it looks like it is no longer maintained. I note that it doesn't support Python 3.10 and doesn't appear to have any code changes for over a year.
See also:
https://github.com/schematics/schematics/issues/628

Going forward should the recommendation be to use jsonschema exclusively for item validation? Or will another validatio